<div class="dialog-container d-flex flex-column gap-2 p-3">
  <div class="header d-flex flex-row justify-content-between align-items-center">
    <h3>
      {{ m_sAreaName+" - "+ m_sRefDate}} - {{ 'IMPACTS_DIALOG.TITLE' | translate }}
    </h3>
    <span class="close-btn material-symbols-outlined" (click)="onDismiss()">
      close
    </span>
  </div>
  <div class="body flex-fill d-flex flex-column gap-3">

    <div class="d-flex justify-content-center">
      <div style="max-width: 300px; width: 100%;" *ngIf="m_bImpactsAvailable">
        <rise-dropdown
          [m_bHasTitle]="true"
          [m_sLabel]="'IMPACTS_DIALOG.SELECT_LAYER' | translate"
          [m_aoDropdownItems]="m_aoDropdownOptions"
          (m_oSelectionChange)="onDropdownSelectionChange($event)"
          [m_sPlaceholder]="'IMPACTS_DIALOG.SELECT_LAYER_PLACEHOLDER' | translate"

        ></rise-dropdown>
      </div>
      <div style="max-width: 300px; width: 100%;" *ngIf="!m_bImpactsAvailable">
        <div class="invalid-sub  p-3 d-flex flex-row justify-content-between align-items-center">
          <div>
            <div class="account-sub-header">
              {{ 'IMPACTS_DIALOG.NO_IMPACTS_AVAILABLE' | translate }}
            </div>
            <p class="my-0">
              {{ "IMPACTS_DIALOG.NO_IMPACTS_AVAILABLE_MSG" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-2">

    <div class="d-flex flex-row justify-content-around gap-2">
      <div class="flex-grow-1">
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.POP_AFFECTED'"
          [m_bReadonly]=true
          [(m_sInputText)]="m_oSelectedWidget?.payload['populationCount']"
        ></rise-text-input>
      </div>
      <div class="flex-grow-1">
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.EXPO_AFFECTED'"
          [m_bReadonly]=true
          [(m_sInputText)]="m_oSelectedWidget?.payload['exposuresCount']"
        ></rise-text-input>
      </div>
      <div class="flex-grow-1">
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.ROADS_AFFECTED'"
          [m_bReadonly]=true
          [(m_sInputText)]="m_oSelectedWidget?.payload['roadsCount']"
        ></rise-text-input>
      </div>
    </div>

    <hr class="my-2">

    <div class="d-flex flex-row justify-content-around gap-3 mt-3">
      <div class="d-flex flex-column align-items-center gap-2">
        <canvas #doughnutChart1 style="max-width: 150px; max-height: 150px;"></canvas>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.ESTIMATED_AREA' | translate"
          [(m_sInputText)]="m_sCropsTotArea"
        ></rise-text-input>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.AFFECTED_AREA' | translate"
          [(m_sInputText)]="m_sCropsAffectedArea"
        ></rise-text-input>
      </div>

      <div class="d-flex flex-column align-items-center gap-2">
        <canvas #doughnutChart2 style="max-width: 150px; max-height: 150px;"></canvas>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.ESTIMATED_AREA' | translate"
          [(m_sInputText)]="m_sGrassTotArea"
        ></rise-text-input>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.AFFECTED_AREA' | translate"
          [(m_sInputText)]="m_sGrassAffectedArea"
        ></rise-text-input>
      </div>

      <div class="d-flex flex-column align-items-center gap-2">
        <canvas #doughnutChart3 style="max-width: 150px; max-height: 150px;"></canvas>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.ESTIMATED_AREA' | translate"
          [(m_sInputText)]="m_sBuiltTotArea"
        ></rise-text-input>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'IMPACTS_DIALOG.AFFECTED_AREA' | translate"
          [(m_sInputText)]="m_sBuiltAffectedArea"
        ></rise-text-input>
      </div>
    </div>
  </div>
  </div>

