<main class="d-flex flex-column" >
  <rise-toolbar [m_bUserIsSigned]="false"></rise-toolbar>
  <div
    class="outlet-container d-flex flex-fill flex-column align-items-center justify-content-center"
  >
    <div class="hero-img"></div>
    <div class="login-container d-flex flex-column">
      <div
        class="slider-content flex-fill d-flex flex-column justify-content-between gap-4 my-2"
      >
        <h2 class="space-mono-regular">Reset Your Password</h2>
        <div class="inputs-container d-flex flex-column flex-fill gap-2" *ngIf="!m_bRequestSent">
          <p>
            Please enter your User ID to proceed with the password recovery process.
          </p>
          <rise-text-input
            [m_sLocalizationKey]="'User Id'"
            [m_sName]="'User id'"
            [(m_sInputText)]="m_sUserId"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidUserId"
            [m_sErrorText]="m_sErrorInput"
          ></rise-text-input>
          <rise-button
            [m_sLabel]="'Confirm'"
            [m_sRole]="'primary'"
            (click)="sendRequest()"
          ></rise-button>
        </div>
        <div class="inputs-container d-flex flex-column flex-fill gap-2" *ngIf="m_bRequestSent">
          <p>
            Your password recovery request has been submitted successfully. Please check your email for further instructions.
          </p>
          <rise-button
            [m_sLabel]="'Confirm'"
            [m_sRole]="'primary'"
            (click)="goBackToLogin()"
          ></rise-button>
        </div>
      </div>
    </div>
  </div>

</main>
