<main class="d-flex flex-column">
  <rise-toolbar [m_bUserIsSigned]="false"></rise-toolbar>
  <div
    class="outlet-container d-flex flex-fill flex-column align-items-center justify-content-center"
  >
    <div class="hero-img"></div>
    <div class="login-container d-flex flex-column">
      <div
        class="slider-content flex-fill d-flex flex-column justify-content-between gap-4 my-2"
      >
        <h2 class="space-mono-regular">{{ 'FORGET_PASSWORD_REQUEST.TITLE'|translate }}</h2>
        <div class="inputs-container d-flex flex-column flex-fill gap-2" *ngIf="!m_bRequestSent">
          <p>
            {{ 'FORGET_PASSWORD_REQUEST.DESCRIPTION'|translate }}
          </p>
          <rise-text-input
            [m_sLocalizationKey]="'FORGET_PASSWORD_REQUEST.USER_ID'"
            [m_sName]="'FORGET_PASSWORD_REQUEST.USER_ID'"
            [(m_sInputText)]="m_sUserId"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidUserId"
            [m_sErrorText]="m_sErrorInput"
          ></rise-text-input>
          <rise-button
            [m_sLabel]="'FORGET_PASSWORD_REQUEST.CONFIRM'"
            [m_sRole]="'primary'"
            (click)="sendRequest()"
          ></rise-button>
        </div>
        <div class="inputs-container d-flex flex-column flex-fill gap-2" *ngIf="m_bRequestSent">
          <p>
            {{ 'FORGET_PASSWORD_REQUEST.SUBMIT_MESSAGE'|translate }}
          </p>
          <rise-button
            [m_sLabel]="'FORGET_PASSWORD_REQUEST.CONFIRM'"
            [m_sRole]="'primary'"
            (click)="goBackToLogin()"
          ></rise-button>
        </div>
      </div>
    </div>
  </div>
</main>
