<div class="layer-list-item d-flex flex-column gap-2 p-2">
  <div
    class="layer-header d-flex flex-row align-items-center justify-content-between"
  >
    <div class="d-flex flex-row gap-2">
      <span class="material-symbols-outlined"> {{ m_sIcon }} </span>
      <div class="d-flex flex-column gap-1">
        <div>
          {{ m_oLayer.pluginName }}
        </div>
        <div class="ref-date">
          {{ m_oLayer.referenceDate * 1000 | date : "dd/MM/YYYY hh:mm:ss a" }}
        </div>
      </div>
    </div>
    <div lass="d-flex flex-row align-items-center gap-2">
      <span
        class="material-symbols-outlined delete"
        (click)="emitAction('remove')"
        [matTooltip]="'Remove layer'">
        delete
      </span>    
      <input
        type="checkbox"
        class="rise-checkbox align-self-start"
        [(ngModel)]="m_bShowLayer"
        (change)="emitVisibility()" />
  </div>
  </div>

  <div class="options-container d-flex flex-column gap-2 p-2">
    <div
      class="d-flex flex-row gap-1 align-items-center justify-content-between"
    >
      <div class="d-flex flex-row gap-2">
        Opacity
        <input
          type="range"
          [(ngModel)]="m_iOpacity"
          (change)="emitOpacity()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        />
        {{ m_iOpacity }}%
      </div>
      <span
        class="expand material-symbols-outlined"
        (click)="toggleExpandedContent()"
      >
        more_horiz
      </span>
    </div>

    <div
      *ngIf="m_bShowExpanded"
      class="expanded-content d-flex flex-row justify-content-between"
    >
      <div class="d-flex flex-row gap-2">
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Toggle legend visibility'"
          (click)="showLegend(m_oLayer)"
        >
          legend_toggle
        </span>
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Focus on layer'"
          (click)="emitAction('zoomTo')"
        >
          crop_free
        </span>
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Download file'"
          (click)="emitAction('download')"
        >
          download
        </span>
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Layer Properties'"
          (click)="emitAction('properties')"
        >
          display_settings
        </span>
      </div>
    </div>

    <!-- Legend moved to a new row below -->
    <div *ngIf="m_bShowLegend" class="legend-container">
      <img
        class="legend-image"
        [src]="m_oLegend.url"
        alt="Layer Legend"
      />
    </div>
  </div>
</div>
