<div class="layer-list-item d-flex flex-column gap-2 p-2">
  <div
    class="layer-header d-flex flex-row align-items-center justify-content-between"
  >
    <div class="d-flex flex-row gap-2">
      <span class="material-symbols-outlined"> {{ m_sIcon }} </span>
      <div class="d-flex flex-column gap-1">
        <div>
          {{ m_oLayer.mapId }}
        </div>
        <div class="ref-date">
          {{ m_oLayer.referenceDate * 1000 | date : "dd/MM/YYYY hh:mm:ss a" }}
        </div>
      </div>
    </div>
    <input
      type="checkbox"
      class="rise-checkbox align-self-start"
      name=""
      id=""
      [(ngModel)]="m_bShowLayer"
      (change)="emitVisibility()"
    />
  </div>
  <div class="options-container d-flex flex-column gap-2 p-2">
    <div
      class="d-flex flex-row gap-1 align-items-center justify-content-between"
    >
      <div class="d-flex flex-row gap-2">
        Opacity
        <input
          type="range"
          name=""
          id=""
          [(ngModel)]="m_iOpacity"
          (change)="emitOpacity()"
        />
        {{ m_iOpacity }}%
      </div>
      <span
        class="expand material-symbols-outlined"
        (click)="toggleExpandedContent()"
      >
        more_horiz
      </span>
    </div>
    <div
      *ngIf="m_bShowExpanded"
      class="expanded-content d-flex flex-row justify-content-between"
    >
      <div class="d-flex flex-row gap-2">
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Toggle legend visibility'"
          (click)="emitAction('toggleLegend')"
        >
          legend_toggle
        </span>
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Focus on layer'"
          (click)="emitAction('zoomTo')"
        >
          crop_free
        </span>
        <span
          class="material-symbols-outlined"
          [matTooltip]="'Download file'"
          (click)="emitAction('download')"
        >
          download
        </span>
      </div>
      <div class="">
        <span
          class="material-symbols-outlined delete justify-self-end align-self-end"
          (click)="emitAction('remove')"
          [matTooltip]="'Remove layer'"
        >
          delete
        </span>
      </div>
    </div>
  </div>
</div>
