.layer-list-item {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: grab;
  text-overflow: ellipsis;
  width: 100%;
}

.ref-date {
  font-size: 13px;
}

div.layer-id {
  overflow-wrap: break-word;
}

div.options-container {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.expand {
  cursor: pointer;
}

.material-symbols-outlined {
  cursor: pointer;
}

.delete {
  color: #992500;
}
.legend-container {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.legend-image {
  max-width: 100%;
  height: auto;
}

.material-symbols-outlined.delete {
  font-size: 24px; /* Adjust size to match the checkbox */
  cursor: pointer; /* Add a pointer cursor for better UX */
  margin-right: 8px; /* Add spacing between the delete icon and the checkbox */
  color: var(--rise-danger, red); /* Optional: Add a color to highlight the delete icon */
}

.rise-checkbox {
  width: 24px; /* Ensure the checkbox size matches the delete icon */
  height: 24px;
}