<div class="widget-container">
  <div class="widget-header d-flex flex-row justify-content-between align-items-center gap-2">
    <span class="material-symbols-outlined"> warning </span>
    <div class="flex-fill">{{ "WIDGET.ALERTS" | translate }}</div>
    @if (m_bShowContent) {

      <div class="header-icons d-flex flex-row align-items-center gap-2">
        <span *ngIf="m_aoAlerts.length > 0" (click)="openTargetArea()" class="material-symbols-outlined widget-gold-icon" [matTooltip]="m_sAreaName">my_location</span>
        <span (click)="collapseWidget()" class="material-symbols-outlined" style="cursor: pointer;">
          keyboard_arrow_up
        </span>
      </div>
    } @else {
    <span (click)="collapseWidget()" class="material-symbols-outlined">
      keyboard_arrow_down
    </span>
    }
  </div>
  <div *ngIf="m_bShowContent" class="affected-ppl">

    @if (m_aoAlerts.length > 0) {

    <div class="event-item d-flex flex-column gap-1 mt-2" *ngFor="let oAlert of m_aoAlerts">

      <div class="widget-header d-flex flex-row justify-content-between">
        <div>{{ oAlert.title }}</div>
      </div>

      <div class="event-item d-flex flex-row align-items-center gap-2 mt-2">
        <span class="body-icon material-symbols-outlined"> {{ oAlert.icon }} </span>
        <div class="alert-content">
          {{ oAlert.content }}
        </div>
      </div>

    </div>
    } @else {
    <div class="event-item mt-2">
      {{ "WIDGET.NO_ALERTS" | translate }}
    </div>
    }
  </div>
</div>
