<div class="widget-card">
  <div class="widget-header d-flex flex-row justify-content-between align-items-center gap-2" (click)="collapseWidget()">
    <div class="d-flex flex-row align-items-center gap-2">
      <span class="material-symbols-outlined header-icon">warning</span>
      <span class="header-title">{{ "WIDGET.ALERTS" | translate }}</span>
      <rise-badge
        [m_iDisplayNum]="m_aoAlerts.length"
        [class.has-items]="m_aoAlerts.length > 0">
      </rise-badge>
    </div>

    <span class="material-symbols-outlined chevron-icon" [class.rotated]="!m_bShowContent">
      expand_less
    </span>
  </div>

  <div *ngIf="m_bShowContent" class="affected-ppl">

    @if (m_aoAlerts.length > 0) {

    <div class="event-item d-flex flex-column gap-1 mt-2" *ngFor="let oAlert of m_aoAlerts">
      
      <div class="widget-header d-flex flex-row justify-content-between">
        <div>{{ oAlert.title | translate }} - {{ oAlert.areaName }}</div>
        <span (click)="openTargetArea(oAlert)" class="material-symbols-outlined widget-gold-icon" [matTooltip]="oAlert.areaName">my_location</span>
      </div>

      <div class="event-item d-flex flex-row align-items-center gap-2 mt-2">
        <span class="body-icon material-symbols-outlined"> {{ oAlert.icon }} </span>
        <div class="alert-content">
          {{ oAlert.content }}
        </div>
      </div>

    </div>
    } @else {
    <div class="event-item mt-2">
      {{ "WIDGET.NO_ALERTS" | translate }}
    </div>
    }
  </div>
</div>
