<main class="d-flex flex-column justify-content-between">
  <rise-toolbar [m_bUserIsSigned]="false"></rise-toolbar>
  <div
    class="flex-fill login-container d-flex flex-column align-items-center justify-content-center gap-2"
  >
    <rise-text-input
      [m_sLocalizationKey]="'LOGIN.USER_ID'"
      [m_sName]="'username'"
      [(m_sInputText)]="m_oUserInput.userId"
    ></rise-text-input>
    <rise-text-input
      [m_sLocalizationKey]="'LOGIN.PASSWORD'"
      [m_sName]="'password'"
      [m_sType]="'password'"
      [(m_sInputText)]="m_oUserInput.password"
    ></rise-text-input>
    <rise-button
      [m_sLabel]="'TOOLBAR.LOGIN'"
      (click)="executeLogin()"
    ></rise-button>
  </div>
</main>
