<div *ngIf="m_bEnableSelectAll" class="rise-checkbox-container">
  <!-- Select All / Unselect All -->
  <label class="d-flex flex-row align-items-center gap-2">
    <input
      type="checkbox"
      [checked]="isAllSelected()"
      (change)="toggleSelectAll()"
      [disabled]="m_bReadonly"
    />
    <strong>{{ isAllSelected() ? 'Unselect All' : 'Select All' }}</strong>
  </label>
  <br />
</div>
<div class="rise-checkbox-options" [class.chip-mode]="m_bShowChips">
  <div class="rise-checkbox-container" *ngFor="let option of m_aoOptions">
    <label
      class="rise-option-label"
      [class.rise-chip-label]="m_bShowChips"
      [class.selected]="m_bShowChips && m_aoSelectedValues?.includes(option.value)"
      [class.readonly]="m_bReadonly"
    >
      <input
        [readOnly]="m_bReadonly"
        class="rise-checkbox"
        type="checkbox"
        [value]="option.value"
        [checked]="m_aoSelectedValues?.includes(option.value)"
        (change)="onCheckboxChange(option.value, $event)"
      />
      <span>{{ option.label | translate }}</span>
    </label>
  </div>
</div>
