<div class="dialog-container d-flex flex-column gap-2 p-3">
  <div class="header d-flex flex-row justify-content-between align-items-center">
    <h3>{{ "SUBSCRIPTIONS.BUY_BUTTON" | translate }}</h3>
    <span class="close-btn material-symbols-outlined" (click)="onDismiss()">
      close
    </span>
  </div>

  <div class="body flex-fill d-flex flex-column gap-3">
    <!-- Step 1: Subscription Details -->
    <ng-container *ngIf="m_iStep === 1">
      <div class="d-flex flex-row gap-3 flex-fill">
        <div class="d-flex flex-column gap-2 col-6">
          <rise-text-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'SUBSCRIPTIONS.NAME'"
            [(m_sInputText)]="m_oSubInput.name"
          ></rise-text-input>
          <rise-textarea-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'SUBSCRIPTIONS.DESCRIPTION'"
            [(m_sInputText)]="m_oSubInput.description"
          ></rise-textarea-input>

          <div class="radio-options d-flex flex-column">
            {{ "SUBSCRIPTIONS.AREA_TYPE" | translate }}
            <label class="d-flex flex-row gap-2" for="emergency">
              <input
                type="radio"
                name="area_type"
                id="emergency"
                [checked]="!m_oSubInput.supportsArchive"
                (change)="m_oSubInput.supportsArchive = false"
              />
              {{ "SUBSCRIPTIONS.EMERGENCY" | translate }}
            </label>
            <label class="d-flex flex-row gap-2" for="archive">
              <input
                type="radio"
                name="area_type"
                id="archive"
                [checked]="m_oSubInput.supportsArchive"
                (change)="m_oSubInput.supportsArchive = true"
              />
              {{ "SUBSCRIPTIONS.LONG_TERM" | translate }}
            </label>
          </div>

        </div>

        <div class="d-flex flex-column gap-2 col-6 pe-3">
          <rise-dropdown
            [m_bHasTitle]="true"
            [m_sLabel]="'SUBSCRIPTIONS.TYPE'"
            [m_aoSelectedItems]="m_sSelectedSubType"
            [m_aoDropdownItems]="m_asSubTypeNames"
            (m_oSelectionChange)="handleSubTypeSelect($event)"
          ></rise-dropdown>
          <rise-dropdown
            [m_bHasTitle]="true"
            [m_sLabel]="'SUBSCRIPTIONS.PLUGINS'"
            [m_aoDropdownItems]="m_aoPluginNames"
            [m_bIsMultiSelect]="true"
            [m_bEnableSelectAll]="true"
            [m_aoSelectedItems]="m_asSelectedPluginsDisplay"
            (m_oSelectionChange)="handlePluginSelect($event)"
            [m_bShowChips]="true"
          ></rise-dropdown>
        </div>
      </div>
      <!-- Step Footer -->
      <div class="d-flex justify-content-between mt-3">
        <!-- Left Info Button -->
        <rise-button
          class="info-button"
          [m_sIconLeft]="'info'"
          [m_sSize]="'small'"
          (click)="openInfoDialog()"
        ></rise-button>

        <!-- Right Next Button -->
        <rise-button
          [m_sRole]="'action'"
          [m_sLabel]="'Next'"
          [m_bDisabled]="!enableNextBtn()"
          (click)="enableNextBtn()?goToNextStep():''"
        ></rise-button>
      </div>

    </ng-container>

    <!-- Step 2: Payment Selection -->
    <ng-container *ngIf="m_iStep === 2">
      <div class="d-flex flex-row gap-3 flex-fill">
        <div class="d-flex flex-column gap-2 col-6">
          <div class="radio-options d-flex flex-column">
            {{ "SUBSCRIPTIONS.PAYMENT" | translate }}

            <label for="credit" class="d-flex flex-row gap-2">
              <input
                type="radio"
                name="payment"
                id="credit"
                [(ngModel)]="m_sPaymentMethod"
                value="credit"
              />
              {{ "SUBSCRIPTIONS.CREDIT" | translate }}
            </label>

            <label for="wire" class="d-flex flex-row gap-2">
              <input
                type="radio"
                name="payment"
                id="wire"
                [(ngModel)]="m_sPaymentMethod"
                value="wire"
              />
              {{ "SUBSCRIPTIONS.WIRE" | translate }}
            </label>

            <label for="contact" class="d-flex flex-row gap-2">
              <input
                type="radio"
                name="payment"
                id="contact"
                [(ngModel)]="m_sPaymentMethod"
                value="contact"
              />
              {{ "SUBSCRIPTIONS.CONTACT" | translate }}
            </label>
          </div>
        </div>


        <div class="d-flex flex-column gap-2 col-6 pe-3">
          <rise-dropdown
            [m_bHasTitle]="true"
            [m_sLabel]="'SUBSCRIPTIONS.PAYMENT_TYPE'"
            [m_aoDropdownItems]="m_asPaymentTypeNames"
            [m_aoSelectedItems]="m_sSelectedPaymentTypeName"
            (m_oSelectionChange)="handlePaymentTypeSelect($event)"
          ></rise-dropdown>
        </div>
      </div>

      <!-- Compute Price & Purchase -->
      <div class="total-container d-flex flex-row justify-content-between align-items-center gap-3">
        <div>Total</div>
        <div class="divider flex-fill"></div>
        @if (m_iComputedPrice) {
          {{ m_iComputedPrice | currency : "EUR" }}
<!--          <rise-button-->
<!--            [m_sSize]="'small'"-->
<!--            [m_sRole]="'action'"-->
<!--            [m_sLabel]="'SUBSCRIPTIONS.COMPUTE_SECOND'"-->
<!--            [m_bDisabled]="!enableComputePrice()"-->
<!--            (click)="enableComputePrice()?getComputedPrice():''"-->
<!--          ></rise-button>-->
        } @else {
          {{ 0 | currency : "EUR" }}
<!--          <rise-button-->
<!--            [m_sSize]="'small'"-->
<!--            [m_sRole]="'action'"-->
<!--            [m_sLabel]="'SUBSCRIPTIONS.COMPUTE_PRICE'"-->
<!--            [m_bDisabled]="!enableComputePrice()"-->
<!--            (click)="enableComputePrice()?getComputedPrice():''"-->
<!--          ></rise-button>-->
        }
      </div>

      <!-- Back & Purchase Buttons -->
      <div class="d-flex flex-row justify-content-between">
        <rise-button
          class="align-self-start"
          [m_sRole]="'primary'"
          [m_sLabel]="'Back'"
          (click)="goToPreviousStep()"
        ></rise-button>
<!--        Handle the case of Credit Card-->
        <rise-button
          *ngIf="m_sPaymentMethod=='credit'"
          class="align-self-end"
          [m_bDisabled]="!enablePurchaseBtn()"
          [m_sRole]="'action'"
          [m_sLabel]="'SUBSCRIPTIONS.PURCHASE_CREDIT'"
          (click)="enablePurchaseBtn() ? executePurchaseWithCreditCard() : ''"
        ></rise-button>
<!--        Handle the case of Wire-->
        <rise-button
          *ngIf="m_sPaymentMethod=='wire'"
          class="align-self-end"
          [m_bDisabled]="!enablePurchaseBtn()"
          [m_sRole]="'action'"
          [m_sLabel]="'SUBSCRIPTIONS.PURCHASE'"
          (click)="enablePurchaseBtn() ? executePurchaseWithWire() : ''"
        ></rise-button>
<!--        Handle the case of Contact Us-->
        <rise-button
          *ngIf="m_sPaymentMethod=='contact'"
          class="align-self-end"
          [m_bDisabled]="!enablePurchaseBtn()"
          [m_sRole]="'action'"
          [m_sLabel]="'SUBSCRIPTIONS.PURCHASE_CONTACT'"
          (click)="enablePurchaseBtn() ? executePurchaseWithContactUs() : ''"
        ></rise-button>

      </div>
    </ng-container>
  </div>
</div>
