<div class="header d-flex flex-row justify-content-between">
  <rise-button
    [m_sLabel]="'SUBSCRIPTIONS.BACK'"
    (click)="openBuyNewSub(false)"
  ></rise-button>
</div>
<div class="body d-flex flex-row gap-3">
  <div class="col-6 d-flex flex-column gap-2">
    <rise-text-input
      [m_sLocalizationKey]="'SUBSCRIPTIONS.NAME'"
      [(m_sInputText)]="m_oSubInput.name"
    ></rise-text-input>
    <rise-textarea-input
      [m_sLocalizationKey]="'SUBSCRIPTIONS.DESCRIPTION'"
      [(m_sInputText)]="m_oSubInput.description"
    ></rise-textarea-input>
    <!-- TODO:make rise check box -->
    <div class="d-flex flex-row">
      <div class="">
        {{ "SUBSCRIPTIONS.AREA_TYPE" | translate }}
        <div class="radio-options d-flex flex-column">
          <div class="d-flex flex-row gap-2">
            <input
              type="radio"
              name="area_type"
              id="long-term"
              (change)="m_oSubInput.supportsArchive = true"
            />
            <label for="long-term">{{
              "SUBSCRIPTIONS.LONG_TERM" | translate
            }}</label>
          </div>
          <div class="d-flex flex-row gap-2">
            <input
              type="radio"
              name="area_type"
              id="emergency"
              (change)="m_oSubInput.supportsArchive = false"
            />
            <label for="emergency">{{
              "SUBSCRIPTIONS.EMERGENCY" | translate
            }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <!-- TODO: Checkout value = hook up when payment system implemented -->
      <div class="">
        {{ "SUBSCRIPTIONS.PAYMENT" | translate }}
        <div class="radio-options d-flex flex-column">
          <div class="d-flex flex-row gap-2">
            <input type="radio" name="payment" id="credit" />
            <label for="credit">{{ "SUBSCRIPTIONS.CREDIT" | translate }}</label>
          </div>
          <div class="d-flex flex-row gap-2">
            <input type="radio" name="payment" id="wire" />
            <label for="wire">{{ "SUBSCRIPTIONS.WIRE" | translate }}</label>
          </div>
          <div class="d-flex flex-row gap-2">
            <input type="radio" name="payment" id="wire" />
            <label for="wire">{{ "SUBSCRIPTIONS.WIRE" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex flex-column gap-2">
    <rise-dropdown
      [m_sLabel]="'SUBSCRIPTIONS.TYPE'"
      [m_aoDropdownItems]="m_asSubTypeNames"
      (m_oSelectionChange)="handleSubTypeSelect($event)"
    ></rise-dropdown>
    <rise-dropdown
      [m_sLabel]="'SUBSCRIPTIONS.PAYMENT_TYPE'"
      [m_aoDropdownItems]="m_asPaymentTypeNames"
      (m_oSelectionChange)="handlePaymentTypeSelect($event)"
    ></rise-dropdown>
    <rise-dropdown
      [m_sLabel]="'SUBSCRIPTIONS.PLUGINS'"
      [m_aoDropdownItems]="m_aoPluginNames"
      [m_bIsMultiSelect]="true"
      (m_oSelectionChange)="handlePluginSelect($event)"
    ></rise-dropdown>
    <div class="d-flex flex-row">
      <rise-button
        [m_sLabel]="'SUBSCRIPTIONS.COMPUTE_PRICE'"
        (click)="getComputedPrice()"
      ></rise-button>
      <div *ngIf="m_iComputedPrice" class="computed_price">
        {{ m_iComputedPrice | currency : "EUR" }}
      </div>
    </div>
    <rise-button
      [m_sLabel]="'SUBSCRIPTIONS.PURCHASE'"
      (click)="executePurchase()"
    ></rise-button>
  </div>
</div>
