div.dialog-container {
  background-color: var(--surface-glass);
  backdrop-filter: blur(20px);
  height: 400px;
  width: 650px;
}

h3 {
  font-size: 20px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

.total-container {
    font-size: 20px;
}

.divider {
  border-bottom: 3px dotted var(--rise-text-dim);
}
