<div class="widget-container">
  <div class="widget-header d-flex flex-row justify-content-between">
    {{ "WIDGET.AFFECTED_PPL" | translate }}
    @if (m_bShowContent) {
    <div class="header-icons d-flex flex-row align-items-center gap-2">
      <span *ngIf="m_iAffectedPpl" (click)="openTargetArea()" class="material-symbols-outlined widget-gold-icon" [matTooltip]="m_sAreaName">my_location</span>
      <span (click)="collapseWidget()" class="material-symbols-outlined" style="cursor: pointer;">
        keyboard_arrow_up
      </span>
    </div>
    } @else {
    <span (click)="collapseWidget()" class="material-symbols-outlined" style="cursor: pointer;">
      keyboard_arrow_down
    </span>
    }
  </div>
  <div *ngIf="m_bShowContent" class="affected-ppl d-flex flex-row align-items-center gap-2">
    <span class="body-icon material-symbols-outlined"> family_restroom </span>
    <div class="affected-total space-mono-regular">
      {{ m_iAffectedPpl ? (m_iAffectedPpl | number:'1.0-0':'en') : ("WIDGET.NO_AFFECTED" | translate) }}
    </div>
    <div>
      {{ m_oWidgetInfo ? m_oWidgetInfo.referenceDate : ""}}
    </div>
  </div>
</div>
