<rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar>

<div class="d-flex flex-row gap-3 px-4">
  <!-- Left column -->
  <div class="d-flex flex-column flex-fill gap-5">
    <rise-text-input [m_sLocalizationKey]="'Name'" class="mb-3"></rise-text-input>
    <rise-text-area-input [m_sLocalizationKey]="'Description'" class="mb-3"></rise-text-area-input>

    <!-- Spacing added with mb-3 for margin bottom -->
    <div class="mb-3">
      <rise-check-box
        [options]="this.m_oEvents"
        (selectionChange)="onSelectionChange($event)">
      </rise-check-box>
    </div>

    <!-- Spacing added with mb-3 for margin bottom -->
    <div class="mb-3">
      <rise-crud-table
        [displayedColumns]="m_asUsersColumns"
        [dataSource]="userData"
        (deleteRow)="onRowDelete($event)"
        (addRow)="onRowAdd()">
      </rise-crud-table>
    </div>
  </div>

  <!-- Right column for the map -->
  <div class="col-8" >
    <div style="height: 500px; position: relative;">
      <rise-select-area [m_sMapTitle]="'Define your Area'" class="h-100"></rise-select-area>
    </div>
    <!-- Buttons aligned at the bottom-right -->
    <div class="position-absolute" style="bottom: 10px; right: 10px;">
      <rise-button [m_sLabel]="'Save'" class="me-2"></rise-button>
      <rise-button [m_sLabel]="'Cancel'"></rise-button>
    </div>
  </div>
</div>
