<div class="area-outlet flex-fill d-flex flex-column">
  <div
    class="header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
  >
    {{ "AREA_OF_OPERATIONS.CREATE_NEW_AREA_OF_OPERATION" | translate }}
  </div>
  <div class="create-container flex-fill d-flex flex-row my-3">
    <div class="create-sidebar d-flex flex-column justify-content-between">
      <div class="d-flex flex-column gap-2">
        <rise-text-input
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_sAreaOfOperationName"
          [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.NAME'"
        ></rise-text-input>
        <rise-textarea-input
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_sAreaOfOperationDescription"
          [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.DESCRIPTION'"
        ></rise-textarea-input>
        <div>
          Select Plugins:
          <rise-checkbox
            [m_aoOptions]="this.m_asPlugins"
            (m_oSelectionChange)="onSelectionChange($event)"
            [m_aoSelectedValues]="this.m_asPluginsSelected"
          >
          </rise-checkbox>
        </div>
        <rise-button [m_sLabel]="'Manage Users'"></rise-button>
      </div>
      <div class="d-flex flex-column gap-2">
        <rise-button
          [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'"
          (click)="SaveAreaOfOperation()"
        ></rise-button>
        <rise-button
          [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.CANCEL'"
          [m_sRole]="'muted'"
          (click)="cancelCreatingAreaOfOperation()"
        ></rise-button>
      </div>
    </div>
    <div class="map-container">
      <rise-map
        (m_oMapInputChange)="onMapInputChange($event)"
        [m_bIsSelectingArea]="true"
      ></rise-map>
    </div>
  </div>
</div>
<!-- <div class="d-flex flex-row gap-3 p-2">

  <div class="d-flex flex-column flex-fill gap-5">
  


    <div class="mb-3">
      <rise-crud-table
        [m_sButtonLabel]="'CREATE_NEW_AREA_OF_OPERATION.ADD_FIELD_OPERATOR'"
        [m_asDisplayedColumns]="m_asUsersColumns"
        [m_aoDataSource]="m_aoUserData"
        (m_oDelete)="onRowDelete($event)"
        (m_oAdd)="onRowAdd()"
        (m_oTableData)="handleTableData($event)"
      >
      </rise-crud-table>
    </div>
  </div>


  <div class="col-8">
   

    <div class="position-absolute" style="bottom: 10px; right: 10px">
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'"
        (click)="SaveAreaOfOperation()"
        class="me-2"
      ></rise-button>
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.CANCEL'"
        (click)="cancelCreatingAreaOfOperation()"
      ></rise-button>
    </div>
  </div>
</div> -->
