<rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar>
<p>create-area-of-operation works!</p>

<!--<div class="d-flex flex-row gap-4">-->
<!--  <div class="d-flex flex-column flex-fill">-->
<!--    <rise-text-input [m_sLocalizationKey]="'Name'"></rise-text-input>-->
<!--    &lt;!&ndash;todo Changed this to text area &ndash;&gt;-->
<!--    <rise-text-input  [m_sLocalizationKey]="'Description'"></rise-text-input>-->
<!--    <rise-check-box></rise-check-box>-->
<!--    <rise-crud-table></rise-crud-table>-->
<!--  </div>-->
<!--  <div class="d-flex flex-fill">-->
<!--    <rise-select-area></rise-select-area>-->
<!--&lt;!&ndash;    <rise-map></rise-map>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->


<rise-select-area [m_sMapTitle]="'Define your Area'"></rise-select-area>
