.otp-dialog {
  border-radius: 24px;
  background-color: var(--surface-glass);
  backdrop-filter: blur(20px);
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow-wrap: break-word;
  padding: 16px;
  width: 375px;
}

h2 {
  font-size: 20px;
}

.retry-text {
  color: var(--rise-text-dim);
}

.retry-text > a {
  color: var(--rise-text-bright);
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent;
}
