<div class="otp-dialog d-flex flex-column gap-2">
  <div class="d-flex flex-row gap-2 justify-content-between">
    <h2 class="space-mono-regular">{{ 'LOGIN.OTP_TITLE' | translate }}</h2>
    <span
      class="material-symbols-outlined"
      (click)="onDismiss()"
    >
      close
    </span>
  </div>
  <p>
    {{ 'LOGIN.OTP_DESCRIPTION' | translate }}
    <strong>{{ m_sUserId }}</strong>.
  </p>
  <div class="inputs-container d-flex flex-column flex-fill gap-3">
    <rise-text-input
      [m_sLocalizationKey]="'LOGIN.OTP_CODE'"
      [m_sName]="'one time password'"
      [(m_sInputText)]="m_sOneTimePW"
      [m_bIsValidatorInput]="true"
    ></rise-text-input>
  </div>
  <div class="d-flex flex-column gap-2">
    <rise-button
      [m_sLabel]="'LOGIN.NEXT'"
      [m_sRole]="'primary'"
      (click)="submitOTP()"
    ></rise-button>
    <p class="retry-text">
      {{ 'LOGIN.OTP_VERIFICATION' | translate }}
      <a>{{ 'LOGIN.OTP_LOGIN_AGAIN' | translate }}</a>.
    </p>
  </div>
</div>
