<main class="d-flex flex-column">
  <rise-toolbar></rise-toolbar>
  <div
    class="outlet-container flex-fill d-flex flex-column align-items-center justify-content-center"
  >
    <div class="hero-img"></div>
    <div
      *ngIf="m_sCurrentPg === 'username'"
      class="login-container pg-1 d-flex flex-column gap-3"
    >
      <h2 class="space-mono-regular">Create a RISE account</h2>
      <div class="d-flex flex-column gap-1">
        <rise-text-input
        [m_sLocalizationKey]="'REGISTER.USER_ID'"
        [m_bIsValidatorInput]="true"
        [m_sErrorText]="m_sUsernameError"
        [m_bHasTitle]="true"
        [(m_sInputText)]="m_oUserInfoInput.userId"
        [m_bIsValid]="validateUserName() && m_bUsernameIsValid"
      ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.EMAIL'"
          [m_bRequired]="true"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oEmailInputs.email"
          [m_bIsValid]="validateEmail() && m_bEmailIsValid"
        ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.CONFIRM_EMAIL'"
          [m_bRequired]="true"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oEmailInputs.confirmEmail"
          [m_sErrorText]="m_sEmailError"
          [m_bIsValidatorInput]="true"
          [m_bIsValid]="validateEmail() && m_bEmailIsValid"
        ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.PASSWORD'"
          [m_bRequired]="true"
          [m_bHasTitle]="true"
          [m_sType]="'password'"
          [(m_sInputText)]="m_oPasswordInputs.password"
          [m_bIsValid]="validatePassword()"
        ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.CONFIRM_PW'"
          [m_bRequired]="true"
          [m_bHasTitle]="true"
          [m_sType]="'password'"
          [m_bIsValidatorInput]="true"
          [m_sErrorText]="m_sPasswordError"
          [(m_sInputText)]="m_oPasswordInputs.confirmPw"
          [m_bIsValid]="validatePassword()"
        ></rise-text-input>
        <div class="d-flex flex-row align-items-center gap-2">
          <input
            type="checkbox"
            name="terms-and-conditions"
            class="rise-checkbox"
            id=""
            [(ngModel)]="m_oUserInfoInput.acceptedTermsAndConditions"
          />
          <div
            class="policy-text"
            [innerHTML]="'REGISTER.TERMS_CONDITIONS' | translate"
          ></div>
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
          <input
            type="checkbox"
            name="privacy-policy"
            class="rise-checkbox"
            [(ngModel)]="m_oUserInfoInput.acceptedPrivacy"
          />
          <div
            class="policy-text"
            [innerHTML]="'REGISTER.PRIVACY_POLICY' | translate"
          ></div>
        </div>
        <div class="d-flex flex-column gap-1">
          <rise-button
            [m_sLabel]="'Next'"
            [m_sRole]="'primary'"
            [m_bDisabled]="!enableUserInfo()"
            (click)="enableUserInfo() ? setPage('personal') : ''"
          ></rise-button>
        </div>
      </div>
    </div>
    <div
      *ngIf="m_sCurrentPg === 'personal'"
      class="login-container pg-2 d-flex flex-column gap-3"
    >
      <h2 class="space-mono-regular">Enter your Personal Information</h2>
      <div class="d-flex flex-column gap-1">
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.NAME'"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oUserInfoInput.name"
          [m_bIsValid]="m_bPersonalValid"
        ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.SURNAME'"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oUserInfoInput.surname"
          [m_bIsValid]="m_bPersonalValid"
        ></rise-text-input>
        <rise-text-input
          [m_sLocalizationKey]="'REGISTER.MOBILE'"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oUserInfoInput.mobile"
          [m_bIsValidatorInput]="true"
          [m_sErrorText]="m_sPersonalError"
          [m_bIsValid]="m_bPersonalValid"
        ></rise-text-input>
      </div>
      <div class="d-flex flex-column gap-1">
        <rise-button
          [m_sLabel]="'Next'"
          [m_sRole]="'primary'"
          [m_bDisabled]="!checkPersonalInfo(true)"
          (click)="checkPersonalInfo(true) ? setPage('organization') : ''"
        ></rise-button>
        <rise-button
          [m_sLabel]="'Previous'"
          [m_sRole]="'regular'"
          (click)="setPage('username')"
        ></rise-button>
      </div>
    </div>
    <div
      *ngIf="m_sCurrentPg === 'organization'"
      class="login-container pg-3 d-flex flex-column gap-3"
    >
      <h2 class="space-mono-regular">Enter your Organization's Information</h2>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column gap-2">
          <rise-text-input
            [m_sLocalizationKey]="'REGISTER.ORG_NAME'"
            [m_bIsValid]="m_bOrgIsValid"
            [(m_sInputText)]="m_oOrgInfoInput.name"
            [m_sErrorText]="m_sOrgError"
            [m_bIsValidatorInput]="true"
          ></rise-text-input>
          <rise-dropdown
            [m_sLabel]="'REGISTER.ORG_TYPE'"
            [m_aoDropdownItems]="m_aoOrganizationTypes"
            [m_bIsValid]="m_bOrgIsValid"
            (m_oSelectionChange)="handleSelection($event)"
          ></rise-dropdown>
        </div>
        <div class="org-address-info my-2">
          <rise-text-input
            [m_sLocalizationKey]="'Street Address'"
            [m_bIsValid]="m_bOrgIsValid"
            [(m_sInputText)]="m_oOrgInfoInput.street"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'Country'"
            [m_bIsValid]="m_bOrgIsValid"
            [(m_sInputText)]="m_oOrgInfoInput.country"
          ></rise-text-input>
          <div class="d-flex flex-row gap-1">
            <rise-text-input
              class="flex-fill"
              [m_sLocalizationKey]="'Street Number'"
              [m_bIsValid]="m_bOrgIsValid"
              [(m_sInputText)]="m_oOrgInfoInput.number"
            ></rise-text-input>
            <rise-text-input
              class="flex-fill"
              [m_sLocalizationKey]="'Postal Code'"
              [m_bIsValid]="m_bOrgIsValid"
              [(m_sInputText)]="m_oOrgInfoInput.postalCode"
            ></rise-text-input>
          </div>
          <div class="d-flex flex-row gap-2">
            <rise-text-input
              class="flex-fill"
              [m_sLocalizationKey]="'City'"
              [m_bIsValid]="m_bOrgIsValid"
              [(m_sInputText)]="m_oOrgInfoInput.city"
            ></rise-text-input>
            <rise-text-input
              class="flex-fill"
              [m_sLocalizationKey]="'Phone Number'"
              [m_bIsValid]="m_bOrgIsValid"
              [(m_sInputText)]="m_oOrgInfoInput.phone"
            ></rise-text-input>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column gap-1">
        <rise-button
          [m_sLabel]="'Register'"
          [m_sRole]="'primary'"
          [m_bDisabled]="!checkOrgInfo(true)"
          (click)="m_bOrgIsValid ? register() : ''"
        ></rise-button>
        <rise-button
          [m_sLabel]="'Previous'"
          [m_sRole]="'regular'"
          (click)="setPage('personal')"
        ></rise-button>
      </div>
    </div>
  </div>
</main>
