<div
  class="outlet-container flex-fill d-flex flex-column align-items-center justify-content-center"
>
<h2 class="space-mono-regular">Confirm your registration</h2>
<div class="d-flex flex-column gap-1">
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.USER_ID'"
    [(m_sInputText)]="m_oUserInfoInput.userId"
    [m_bIsValid]="m_bUsernameIsValid"
    [m_sErrorText]="m_sUsernameError"
    [m_bIsValidatorInput]="true"
    [m_bHasTitle]="true"
  ></rise-text-input>
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.PASSWORD'"
    [m_bRequired]="true"
    [m_bHasTitle]="true"
    [m_sType]="'password'"
    [(m_sInputText)]="m_oPasswordInputs.password"
    [m_bIsValid]="validatePassword()"
  ></rise-text-input>
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.CONFIRM_PW'"
    [m_bRequired]="true"
    [m_bHasTitle]="true"
    [m_sType]="'password'"
    [m_bIsValidatorInput]="true"
    [m_sErrorText]="m_sPasswordError"
    [(m_sInputText)]="m_oPasswordInputs.confirmPw"
    [m_bIsValid]="validatePassword()"
  ></rise-text-input>
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.NAME'"
    [m_bHasTitle]="true"
    [(m_sInputText)]="m_oUserInfoInput.name"
    [m_bIsValid]="m_bPersonalValid"
  ></rise-text-input>
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.SURNAME'"
    [m_bHasTitle]="true"
    [(m_sInputText)]="m_oUserInfoInput.surname"
    [m_bIsValid]="m_bPersonalValid"
  ></rise-text-input>
  <rise-text-input
    [m_sLocalizationKey]="'REGISTER.MOBILE'"
    [m_bHasTitle]="true"
    [(m_sInputText)]="m_oUserInfoInput.mobile"
    [m_bIsValid]="m_bPersonalValid"
    [m_bIsValidatorInput]="true"
    [m_sErrorText]="m_sPersonalError"
  ></rise-text-input>
  <rise-checkbox
    [m_aoOptions]="this.m_asTermsAndConditions"
    (m_oSelectionChange)="onSelectionChange($event)"
    [m_aoSelectedValues]="this.m_asTermsAndConditionSelected"
  >
  </rise-checkbox>
  <rise-button
    [m_sLabel]="'Submit'"
    [m_sRole]="'primary'"
    (click)="register()"
  ></rise-button>
</div>
</div>
