div.dropdown {
  position: relative;
}
div.user-icon {
  height: 36px;
  width: 36px;
  background-color: var(--rise-teal);
  border-radius: 50%;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 36px;
}

div.dropdown-list {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.5);
  border-radius: 16px 0px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--rise-text-dim);
  padding: 16px;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  width: 260px;
  z-index: 99999;
}

.email {
  font-size: 14px;
}
ul {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
  padding-inline-start: 0 !important;
}
li {
  background-color: rgba(0, 31, 40, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
  list-style: none;
  padding: 8px;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.06);
  transition: 300ms;
}

li > span.material-symbols-outlined {
  font-size: 20px;
}
