div.dropdown {
  position: relative;
}
div.user-icon {
  height: 36px;
  width: 36px;
  background-color: var(--rise-teal);
  border-radius: 50%;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 36px;
}

div.dropdown-list {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.5);
  border-radius: 16px 0px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--rise-text-dim);
  padding: 16px;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  width: 260px;
  z-index: 999999;
}

.email {
  font-size: 14px;
}
ul {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
  padding-inline-start: 0 !important;
}
li {
  background-color: rgba(0, 31, 40, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
  list-style: none;
  padding: 8px;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.06);
  transition: 300ms;
}

li > span.material-symbols-outlined {
  font-size: 20px;
}
.role-badge {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  text-align: start;
  align-self: start;
}
.notification-dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: #ff4d4d;
  border-radius: 50%;
  border: 2px solid white;
  animation: blink 2s infinite;
}

.notification-dot-static {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  /* No animation for static style */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* RISE_ADMIN */
.role-badge-rise-admin {
  background-color: var(--rise-gold);
  color: #916e0d;
}

/* ADMIN */
.role-badge-admin {
  background-color: var(--rise-gold);
  color: #916e0d;
}

/* HQ */
.role-badge-hq {
  background-color: #007bff; /* Blue */
  color: #241a8f;
}

/* FIELD */
.role-badge-field {
  background-color: #28a745; /* Green */
  color: #105e11;
}

/* Fallback */
.role-badge-default {
  background-color: gray;
  color: white;
}
.text-link {
  color: var(--rise-gold);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
