<div class="dropdown">
  <div
    class="user-icon"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    aria-haspopup="true"
    (click)="toggleDropdown()"
  >
    <span class="material-symbols-outlined"> account_circle </span>
    <span *ngIf="!m_bHasArea" 
    [ngClass]="m_bAlertShown ? 'notification-dot-static' : 'notification-dot'"></span>
  </div>

  <div *ngIf="m_bShowDropdown" class="dropdown-list d-flex flex-column gap-1">
    <!-- TODO: Add user's information -->
    <div class="user-info d-flex justify-content-between align-items-center">
      <div class="name">{{ m_oUser.userId }}</div>
      <div [ngClass]="getRoleClass(m_oUser.role)"  class="role-badge">{{ m_oUser.role }}</div>
    </div>
    <div class="email">{{m_oUser.name}}&nbsp;{{m_oUser.surname}}</div>
    <div class="email">{{m_oUser.email}}</div>
<!--    <div class="role-badge">{{m_oUser.role}}</div>-->
    <ul  *ngIf="!m_bShowLanguageDropdown" class="d-flex flex-column gap-2 pt-2">
      <li
        *ngFor="let oItem of m_aoMenuItems"
        #menuItem
        class="d-flex flex-row align-items-center gap-2"
        (click)="handleClick(oItem.name, menuItem)"
      >
        <span class="material-symbols-outlined"> {{ oItem.icon }} </span>
        {{ oItem.translation | translate }}
      </li>
    </ul>
    <ul *ngIf="m_bShowLanguageDropdown" class="d-flex flex-column gap-2 pt-2">
      <li
        *ngFor="let lang of m_aoLanguages"
        class="d-flex flex-row align-items-center gap-2"
        (click)="changeLanguage(lang.value)"
      >
        {{ lang.name }}
      </li>
    </ul>
    <div
      *ngIf="!m_bHasArea"
      class="invalid-area p-3 d-flex flex-row justify-content-between align-items-center"
    >
      <div>
        <div class="account-sub-header">
          {{ "AREA_OF_OPERATIONS.AREA_NOT_FOUND" | translate }}
        </div>
        <p class="my-0">
          {{ "AREA_OF_OPERATIONS.AREA_NOT_FOUND_MSG" | translate }}
          <a [routerLink]="['/account/area-of-operations']" class="text-link">
            {{ "AREA_OF_OPERATIONS.AREA_NOT_FOUND_LINK" | translate }}
          </a>.
        </p>
      </div>
    </div>

  </div>
</div>
