<div class="dialog-container p-2">
  <div
    class="dialog-header d-flex flex-row justify-content-between align-items-center"
  >
    <h3>{{ "COLLABORATORS.HEADER" | translate }}</h3>
    <span class="close-btn material-symbols-outlined" (click)="onDismiss()">
      close
    </span>
  </div>
  <div class="table-wrapper w-100" *ngIf="m_aoUsers.length > 0 ">
    <table class="w-100">
      <thead class="table-heading-container">
      <tr>
        <td><strong>{{ "LOGIN.USER_ID" | translate }}</strong></td>
        <td><strong>{{ "USER.EMAIL" | translate }}</strong></td>
        <td><strong>{{ "COLLABORATORS.ROLE" | translate }}</strong></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oUser of m_aoUsers">
        <td >{{ oUser.userId }}</td>
        <td>{{ oUser.email }}</td>
        <td>{{ oUser.role }}</td>
        <td
          class="d-flex flex-row justify-content-end align-items-center gap-2"
        >
          <span
            *ngIf="oUser.role==UserRole.FIELD"
            class="option delete material-symbols-outlined remove"
            [matTooltip]="'Remove User'"
            (click)="removeFieldOperator(oUser)"
            style="color: red;cursor: pointer"
          >
            delete
          </span>
          <span
            *ngIf="oUser.role==UserRole.SHARED"
            class="option delete material-symbols-outlined remove"
            [matTooltip]="'Remove User'"
            (click)="removeExternalOperator(oUser)"
            style="color: red;cursor: pointer"
          >
            delete
          </span>

        </td>
      </tr>
      <tr *ngIf="m_bAddingUser">
        <td>
          <rise-dropdown
          [m_aoDropdownItems]="getFieldOperatorKeys()"
          [m_aoSelectedItems]="m_oFieldOperatorOfAreaUserId"
          (m_oSelectionChange)="selectFieldOperator($event)"
          ></rise-dropdown>
        </td>
        <td></td>
        <td>
          <span
            class="option material-symbols-outlined edit"
            [matTooltip]="'Save'"
            (click)="addFieldUser()"

            style="color: gold;cursor: pointer"

          >
            save
          </span>
          <span
            class="option material-symbols-outlined edit"
            [matTooltip]="'Cancel Editing'"
            (click)="m_bAddingUser = false"
            style="color: red;cursor: pointer"
          >
            close
          </span>

        </td>
      </tr>
      <tr *ngIf="m_bAddingExternalUser">
        <td>
          <rise-text-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'Rise User Id'"
            [(m_sInputText)]="m_sExternalRiseUserId"
          ></rise-text-input>
        </td>
        <td style="padding-top: 1.25rem;"></td> <!-- Match label height -->
        <td style="padding-top: 2.25rem;">
    <span
      class="option material-symbols-outlined edit"
      [matTooltip]="'Save'"
      (click)="addExternalUser()"
      style="color: gold; cursor: pointer"
    >
      save
    </span>
          <span
            class="option material-symbols-outlined edit"
            [matTooltip]="'Cancel Editing'"
            (click)="m_bAddingExternalUser = false"
            style="color: red; cursor: pointer"
          >
      close
    </span>
        </td>
      </tr>

<!--      <tr *ngIf="!m_bNoUserExists">-->
<!--        <td colspan="4">-->
<!--          <div class="d-flex flex-row gap-2">-->
<!--            <rise-button-->
<!--              *ngIf="m_sResourceType !== 'organization'"-->
<!--              [m_sLabel]="'Add Collaborator'"-->
<!--              [m_sRole]="'primary'"-->
<!--              (click)="m_bAddingUser = true"-->
<!--            ></rise-button>-->

<!--            <rise-button-->
<!--              *ngIf="m_sResourceType !== 'organization'"-->
<!--              [m_sLabel]="'Add External Collaborator'"-->
<!--              [m_sRole]="'primary'"-->
<!--              (click)="m_bAddingExternalUser = true"-->
<!--            ></rise-button>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
      </tbody>
    </table>

    <div
      *ngIf="!m_bNoUserExists && m_sResourceType !== 'organization'"
      class="bottom-buttons"
    >
      <rise-button
        [m_sLabel]="'Add Collaborator'"
        [m_sRole]="'primary'"
        (click)="!isAddFieldOperatorDisabled()?m_bAddingUser = true:''"
        [m_bDisabled]="isAddFieldOperatorDisabled()"
      ></rise-button>

      <rise-button
        [m_sLabel]="'Add External Collaborator'"
        [m_sRole]="'primary'"
        (click)="m_bAddingExternalUser = true"
      ></rise-button>
    </div>
    <div
      *ngIf="m_bNoUserExists"
      class="invalid-sub p-3 d-flex flex-row justify-content-between align-items-center"
    >
      <div>
        <div class="account-sub-header">
          {{ "Your organization is empty" | translate }}
        </div>
        <p class="my-0">
          {{ "There are no other users in your org. Please invite them to be collaborator then add them to your areas" | translate }}
        </p>
      </div>
    </div>
  </div>

</div>
