<nav class="navbar-container px-3" [class.opaque]="m_bUserIsSigned">
  <div class="navbar d-flex flex-row justify-content-between">
    <div (click)="m_bUserIsSigned ? navigateRoute('dashboard') : ''">
      <img src="/assets/rise-assets/logo-white-horizontal.svg" alt="" />
    </div>
    <!-- Login and Sign Up buttons if the user is NOT signed in -->
    <div *ngIf="!userIsSigned" class="d-flex flex-row gap-3">
      <rise-button
        [m_sLabel]="'TOOLBAR.SIGN_UP' | translate"
        [m_sRole]="'muted'"
        (click)="navigateRoute('sign-up')"
      ></rise-button>
      <rise-button
        [m_sLabel]="'TOOLBAR.LOGIN' | translate"
        (click)="navigateRoute('login')"
      ></rise-button>
    </div>
    <!-- Button options for if the user has an account AND is signed in -->
    <rise-user-menu *ngIf="m_bUserIsSigned"></rise-user-menu>
  </div>
</nav>
