img {
  height: 24px;
}

nav.navbar-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav.navbar-container.opaque {
  background-color: rgba(0, 31, 40, 1);
}
.logo-img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth effect */
  cursor: pointer; /* Indicate it's clickable */
}
.logo-img:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
  opacity: 0.8; /* Reduce opacity */
}
