.map-output-container {
  position: relative;
  z-index: -5;
}

.timebar {
  bottom: 1rem;
  left: 27rem;
  position: absolute;
  /* width: 94%; */
  z-index: 999;
}

.btn-select-container {
  top: 1rem;
  left: 26%;
  position: absolute;
  z-index: 999;
}
.rise-sidebar {
  background-color: rgba(0, 31, 40, 0.8);
  border-right: 1px solid var(--rise-border-default);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 999;
  padding: 1rem;
  height: 100%;
  width: 25%;
}

img {
  height: 24px;
}

.layer-list-container {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  color: var(--rise-text-dim);
}

.layer-outlet {
  max-height: 45vh;
  overflow-y: auto;
}
span.cta-text {
  font-size: 14px;
}
