<main class="d-flex flex-column">
  <!-- <rise-user-menu ></rise-user-menu> -->
  <!-- <rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar> -->
  <div class="flex-fill d-flex flex-row">
    <div class="rise-sidebar d-flex flex-column gap-2 px-2">
      <img
        class="align-self-start"
        src="/assets/rise-assets/logo-white-horizontal.svg"
        alt=""
      />
      <!-- Layer List output -->
      @if(m_aoLayers.length > 0) {
      <rise-layer-item
        *ngFor="let oLayer of m_aoLayers"
        [m_oLayer]="oLayer"
        (m_oLayerVisibility)="getLayerVisibility($event, oLayer)"
        (m_oLayerOpacity)="setOpacity($event, oLayer.layerId)"
      ></rise-layer-item>
      } @else { No layers to show }
    </div>
    <div class="map-container flex-fill">
      <rise-user-menu class="user-menu"></rise-user-menu>
      <rise-map [m_bDashboardMap]="true"></rise-map>
    </div>
    <!-- <div class="map-output-container flex-fill">
      <rise-timebar class="timebar"></rise-timebar>
      @if (m_bShow2D === true) {
      <div class="layer-select-container"></div>
      <div
        *ngIf="m_aoPlugins.length > 0"
        class="btn-select-container d-flex flex-row gap-2"
      >
        <rise-map-chip
          *ngFor="let oPlugin of m_aoPlugins"
          [m_sTitle]="oPlugin.name"
          [m_bIsActive]="oPlugin.loaded"
          (click)="setActivePlugin(oPlugin)"
        ></rise-map-chip>
      </div>
    
      <rise-map [m_bDashboardMap]="true"></rise-map>
      } @else {
      <rise-globe></rise-globe>
      }
    </div> -->
  </div>
</main>
