.logo-img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth effect */
  cursor: pointer; /* Indicate it's clickable */
}
.temp-fix {
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
rise-map {
  flex-grow: 1;
  min-height: 0; /* Important when inside flex */
  position: relative;
}


.logo-img:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
  opacity: 0.8; /* Reduce opacity */
}


.map-output-container {
  position: relative;
  z-index: -5;
}

.timebar {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 80px; /* Adjust as needed */
}
.map-section {
  flex-grow: 1;
  position: relative;
  min-height: 0;
}


.btn-select-container {
  top: 1rem;
  left: 26%;
  position: absolute;
  z-index: 999;
  padding-right: 80px;
  flex-wrap: wrap;
}
.rise-sidebar {
  background-color: rgba(0, 31, 40, 0.8);
  border-right: 1px solid var(--rise-border-default);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;

  padding: 1rem;
  height: 100vh;
  width: 23%;
}

img {
  height: 24px;
}

.layer-list-container {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  color: var(--rise-text-dim);
  flex-grow: 1; /* Makes the layer list expand while leaving space for the button */
  overflow-y: auto; /* Optional: adds scrolling if the list is too long */
}

.layer-outlet {
  height: 60vh;
  overflow-y: auto;
}
span.cta-text {
  font-size: 14px;
}
.legends-container {
  background-color: rgba(0, 31, 40, 0.8);
  backdrop-filter: blur(20px);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  position: absolute;
  padding: 16px;
  right: 0;
  height: 100%;
  min-width: 250px;
  max-width: 25%;
  z-index: 9999;
}

.legends-header {
  font-family: Satoshi Variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.04em;
}

.legend-item {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  height: fit-content;
}

.legend-image {
  min-height: 6rem;
}

.button {
  cursor: pointer;
}

.button-container {
  margin-top: auto; /* Pushes the button to the bottom */
  padding-bottom: 16px; /* Optional: Adds some spacing from the bottom */
}
