<main class="d-flex flex-column">
  <!-- <rise-user-menu ></rise-user-menu> -->
  <!-- <rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar> -->
  <div class="flex-fill d-flex flex-row">
<!--    this is the left panel -->
    <div
      class="rise-sidebar d-flex flex-column justify-content-between gap-4 px-3"
      cdkDropList

    >
    <div class="d-flex align-items-center gap-2">
      <img
        class="align-self-start logo-img"
        src="/assets/rise-assets/logo-white-horizontal.svg"
        alt=""
        width="35%"
        height="35%"
        (click)="navigateRoute('dashboard')"
      />
      <div class="area-name-text">
        {{ m_sAreaName }}
      </div>
    </div>
      <rise-text-input
        [m_bHasIcon]="true"
        [m_sIcon]="'search'"
        [m_bHasTitle]="false"
        [m_sLocalizationKey]="'MONITOR.SEARCH_LAYERS_BY_NAME'"
        [(m_sInputText)]="m_sSearchString"
      ></rise-text-input>
      <!-- Layer List output -->
      <div class="flex-fill d-flex flex-column gap-2 layer-list-container p-3" >
        <div class="layers-header d-flex flex-row justify-content-between gap-2" >
          <span class="material-symbols-outlined"> map </span>
          <div class="flex-fill d-flex flex-column">
            {{"MONITOR.MAP_LAYERS"|translate}}
            <span *ngIf="m_aoLayers.length > 0" class="cta-text">Drag to rearrange</span>
          </div>
          <!--span class="material-symbols-outlined"> keyboard_arrow_up </span-->
        </div>

        @if(m_aoLayers.length > 0) {
        <div class="layer-outlet flex-fill d-flex flex-column gap-2"  cdkDropList (cdkDropListDropped)="drop($event)">
          <!-- Reverse the layers list to show the correct order - when passing to the filter, if empty string pass null! -->
          <rise-layer-item
            *ngFor="let oLayer of m_aoReversedLayers | filter : (m_sSearchString ? m_sSearchString : null)"
            cdkDrag
            [m_oLayer]="oLayer"
            (m_oLayerVisibility)="getLayerVisibility($event, oLayer)"
            (m_oLayerOpacity)="setOpacity($event, oLayer.layerId)"
            (m_oEmitAction)="handleLayerAction($event)"
          ></rise-layer-item>
        </div>
        } @else {  {{"MONITOR.NO_LAYERS_TO_SHOW"|translate}} }
      </div>
      <div *ngIf="m_bShowEventInfo"  class="event-section d-flex flex-column p-3 event-container">
        <!-- Fixed Header -->
        <div class="layers-header d-flex justify-content-between gap-2 flex-shrink-0">
          <span class="material-symbols-outlined"> flag </span>
          <div class="flex-fill d-flex flex-column">
            <strong>{{ m_oSelectedEvent.name }} - {{ m_oSelectedEvent.type }}</strong>
          </div>
        </div>

        <!-- Scrollable Event Details -->
        <div class="event-details-scroll mt-2 flex-grow-1 overflow-auto">
          <!--p><strong>Event:</strong> {{ m_oSelectedEvent.name }} - <strong>Type:</strong> {{ m_oSelectedEvent.type }}</p-->
          <p>Start: {{ m_oSelectedEvent.startDate * 1000 | date: 'medium' }}</p>
          <p>Peak: {{ m_oSelectedEvent.peakDate * 1000 | date: 'medium' }}</p>
          <p>End: {{ m_oSelectedEvent.endDate * 1000 | date: 'medium' }}</p>
          <div class="drag-drop-container d-flex flex-row justify-content-between mt-3">
            <div class="attachments-zone">
            <div *ngFor="let sFile of m_asEventImages" class="file-item" (click)="onPreviewImage(sFile)">
              <div class="attachmment-icon-container">
                <span class="material-icons file-icon">image</span>
                <span class="file-name">{{ sFile }}</span>
              </div>
            </div>
          </div>
          <div class="attachments-zone">
            <div *ngFor="let sFile of m_asEventDocs" class="file-item" (click)="onPreviewDoc(sFile)">
              <div class="attachmment-icon-container">
                <span class="material-icons file-icon">description</span>
                <span class="file-name">{{ sFile }}</span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="button-container  d-flex flex-row gap-3">
        <rise-button
          class="flex-fill"
          [m_sLabel]="'MONITOR.MANAGE_EVENTS'"
          (click)="navigateRoute('events')"
        ></rise-button>
        <rise-button
          class="flex-fill"
          [m_sLabel]="'MONITOR.SEE_IMPACTS'"
          (click)="openImpacts()"
        ></rise-button>
      </div>
    </div>
<!--    this is the map-->
    <div  class=" flex-fill temp-fix" #tempFix>
      <div
        #btnContainer
        *ngIf="m_aoPlugins.length > 0"
        class="btn-select-container d-flex flex-row flex-wrap gap-2 align-items-center"
      >

        <!-- Show visible plugins or all if expanded -->
        <rise-map-chip
          *ngFor="let oPlugin of getVisiblePlugins()"
          [m_sTitle]="oPlugin.name | translate"
          [m_sIcon]="oPlugin.icon"
          [m_bIsActive]="oPlugin.loaded"
          [m_bDisabled]="oPlugin.disabled"
          (click)="switchPluginButton(oPlugin)"
          [m_sTooltip]="oPlugin.description | translate"
          [m_sChipType]="'default'"
        ></rise-map-chip>

        <!-- "+X more" chip -->
        <rise-map-chip
          *ngIf="!m_bShowAllPlugins && m_aoPlugins.length > m_iVisibleCount"
          [m_sTitle]="'+' + getHiddenPluginsCount() + ' more'"
          [m_sIcon]="'more'"
          (click)="togglePluginView()"
          [m_sChipType]="'toggle'"
        ></rise-map-chip>

        <!-- "Show less" chip when expanded -->
        <rise-map-chip
          *ngIf="m_bShowAllPlugins && m_aoPlugins.length > m_iVisibleCount"
          [m_sTitle]="'Show less'"
          [m_sIcon]="'less'"
          [m_sChipType]="'toggle'"
          (click)="togglePluginView()"
        ></rise-map-chip>
      </div>
      <rise-user-menu class="user-menu"></rise-user-menu>
      <rise-map  #mapElement class="map-section" [m_bMonitorMap]="true" [m_bDashboardMap]="true"></rise-map>
      <rise-timebar
        class="timebar"
        [m_iStartDate]="m_oAreaOfOperation.archiveStartDate"
        [m_iEndDate]="m_iCurrentDate"
        (m_oSelectedDateEmitter)="getReferenceTime($event)"
        (m_bLiveButtonPressed)="handleLiveButtonPressed($event)"
        (m_sPlayButtonPressed)="handlePlayButtonPressed($event)"
        [m_aoEvents]="m_aoEvents"
        [m_iInitialSelectedDate]="m_iInitialPeakDate"
      ></rise-timebar>
    </div>
  </div>
</main>
