export const environment = {
  CESIUM_BASE_URL: '/assets/cesium/',
  cesiumToken:
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwODY1YzJlOS1lNGYxLTQ2OTQtOWNjMy01M2E2Y2EwMTQwYWYiLCJpZCI6MTIwODUsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NjAzMzMxNzJ9.p-wPCUj_m_NlYw2KsyW8jp7dRb_2EdS84cCWAirm_HI',
  esriToken:
    'AAPTxy8BH1VEsoebNVZXo8HurEk6y7SrAq1Ej5m8OdoqiCCHY8Ubhkmydc0DYB-TLMojY5kNhIjfslU1-836Qo0i4kD1h56Po7lmEAbuUhGE-ylV-Q_7yeU7_9wRxQ3-dKgdjL6tcvVqKfpb84oT1hQRFOqxT6yHSmA-69D2lpRDYIbrysK6Dk5BCWYtkGI3yk0D9vw4rkgWx5S1YlrYmH08Pqjht0TDEj84ZkYKPAlXEkM.AT1_OzYg1TPe',
  riseUrl: 'https://test.wasdi.net',
  wmsUrl: 'https://test.wasdi.net/geoserver/wms',
  isTestEnvironment:true
}
