export const environment = {
  CESIUM_BASE_URL: '/assets/cesium/',
  cesiumToken: '{{ sRiseCesiumToken }}',
  esriToken: '{{ sRiseEsriToken }}',
  riseUrl: "{{ aoRiseConfiguration['baseUrl']['apiUrl'] }}/rise-api/api",
  wmsUrl: '{{ aoRiseConfiguration['baseUrl']['geoserverBaseUrl'] }}/geoserver/wms',
  isTestEnvironment: false
}
