<div class="outlet">
  <div
    *ngIf="!m_bShowBuySub"
    class="subscriptions-container d-flex flex-column justify-content-between px-4"
  >
    <div
      class="account-header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
    >
      {{ "SUBSCRIPTIONS.HEADER" | translate }}
      <rise-button
        *ngIf="isUserAbleToBuy()"
        [m_sSize]="'small'"
        [m_sRole]="'action'"
        [m_sLabel]="'SUBSCRIPTIONS.BUY_BUTTON'"
        (click)="openBuyNewSub(true)"
      ></rise-button>
    </div>
    <div class="dropdown-container right-align">
      <rise-dropdown
        [m_sLabel]="'SUBSCRIPTIONS.TYPE'"
        [m_aoDropdownItems]="m_asSubAvailabilities"
        (m_oSelectionChange)="filterSubscriptions($event)"
      ></rise-dropdown>
    </div>

    <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
      <table class="w-100">
        <thead>
         <tr>
          <td>{{ "SUBSCRIPTION_ARRAY.NAME" | translate }}</td>
          <td>{{ "SUBSCRIPTION_ARRAY.TYPE" | translate }}</td>
           <td>{{ "SUBSCRIPTION_ARRAY.CREATION_DATE" | translate }}</td>
          <td>{{ "SUBSCRIPTION_ARRAY.PURCHASE_DATE" | translate }}</td>
          <td>{{ "SUBSCRIPTION_ARRAY.EXPIRY_DATE" | translate }}</td>
           <td>{{ "SUBSCRIPTION_ARRAY.PAID_STATUS" | translate }}</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oSubscription of m_aoSubscriptionsToShow">
          <td>{{ oSubscription.name }}</td>
          <td>{{ oSubscription.type }}</td>
          <td>{{ oSubscription.creationDate | date }}</td>
          <td>{{ oSubscription.buyDate ? (oSubscription.buyDate | date) : 'N/A' }}</td>
          <td>{{ oSubscription.expireDate ? (oSubscription.expireDate | date) : 'N/A' }}</td>
          <td>
              <span [ngClass]="getPaymentClass(oSubscription.buySuccess)" class="payment-badge">
                {{ oSubscription.buySuccess ? 'Paid' : 'Not Paid' }}
              </span>
          </td>


          <td class="d-flex flex-row justify-content-end gap-2">
              <span
                class="material-symbols-outlined edit"
                [matTooltip]="'Edit Subscription'"
                (click)="openEditor(oSubscription,true)"
              >
                edit
              </span>
            <span
              class="material-symbols-outlined edit"
              [matTooltip]="'Edit Subscription'"
              (click)="openEditor(oSubscription,false)"
            >
                info
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <buy-new-subscription
    *ngIf="m_bShowBuySub"
    (m_oEmitBack)="openBuyNewSub($event)"
    [m_sOrganizationId]=""
  ></buy-new-subscription>
</div>
