<div class="outlet">
  <div
    *ngIf="!m_bShowBuySub"
    class="subscriptions-container d-flex flex-column justify-content-between px-4"
  >
    <div
      class="account-header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
    >
      {{ "SUBSCRIPTIONS.HEADER" | translate }}
      <rise-button
        *ngIf="isUserAbleToBuy()"
        [m_sSize]="'small'"
        [m_sRole]="'action'"
        [m_sLabel]="'SUBSCRIPTIONS.BUY_BUTTON'"
        (click)="openBuyNewSub(true)"
      ></rise-button>
    </div>

    <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
      <table class="w-100">
        <thead>
          <tr>
            <td class="sortable-header" (click)="toggleSort('name')">
              <div class="header-content">
                {{ "SUBSCRIPTION_ARRAY.NAME" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('name') }}</span>
              </div>
            </td>
            <td class="sortable-header" (click)="toggleSort('type')">
              <div class="header-content">
                {{ "SUBSCRIPTION_ARRAY.TYPE" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('type') }}</span>
              </div>
            </td>
            <!--td class="sortable-header" (click)="toggleSort('date')">
              <div class="header-content">
                {{ "COMMON.DATE" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('date') }}</span>
              </div>
            </td-->
            <td class="sortable-header" (click)="toggleSort('price')">
              <div class="header-content">
                {{ "SUBSCRIPTIONS.PRICE" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('price') }}</span>
              </div>
            </td>
            <td class="sortable-header" (click)="toggleSort('expireDate')">
              <div class="header-content">
                {{ "SUBSCRIPTION_ARRAY.EXPIRY_DATE" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('expireDate') }}</span>
              </div>
            </td>
            <td class="sortable-header" (click)="toggleSort('status')">
              <div class="header-content">
                {{ "SUBSCRIPTION_ARRAY.PAID_STATUS" | translate }}
                <span class="material-symbols-outlined sort-icon">{{ getSortIcon('status') }}</span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr class="filter-row">
            <td>
              <input
                class="table-filter-input"
                type="text"
                [(ngModel)]="m_oColumnFilters.name"
                (ngModelChange)="onColumnFiltersChange()"
                placeholder="Filter"
              />
            </td>
            <td>
              <input
                class="table-filter-input"
                type="text"
                [(ngModel)]="m_oColumnFilters.type"
                (ngModelChange)="onColumnFiltersChange()"
                placeholder="Filter"
              />
            </td>
            <!--td>
              <input
                class="table-filter-input"
                type="date"
                [(ngModel)]="m_oColumnFilters.date"
                (ngModelChange)="onColumnFiltersChange()"
              />
            </td-->
            <td>
              <input
                class="table-filter-input"
                type="text"
                [(ngModel)]="m_oColumnFilters.price"
                (ngModelChange)="onColumnFiltersChange()"
                placeholder="Filter"
              />
            </td>
            <td>
              <input
                class="table-filter-input"
                type="date"
                [(ngModel)]="m_oColumnFilters.expireDate"
                (ngModelChange)="onColumnFiltersChange()"
              />
            </td>
            <td>
              <select
                class="table-filter-select"
                [(ngModel)]="m_oColumnFilters.status"
                (ngModelChange)="onColumnFiltersChange()"
              >
                <option value="all">{{ 'COMMON.ALL' | translate }}</option>
                <option value="paid">{{ 'SUBSCRIPTIONS.PAID' | translate }}</option>
                <option value="not_paid">{{ 'SUBSCRIPTIONS.NOT_PAID' | translate }}</option>
                <option value="expired">{{ 'SUBSCRIPTIONS.EXPIRED' | translate }}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oSubscription of m_aoSubscriptionsToShow">
          <td>{{ oSubscription.name }}</td>
          <td>{{ oSubscription.type }}</td>
          <!--td>{{ getDisplayDate(oSubscription) | date }}</td-->
          <td>{{ getDisplayPrice(oSubscription) }}</td>
          <td>{{ oSubscription.expireDate ? (oSubscription.expireDate | date) : 'N/A' }}</td>
          <td>
              <span [ngClass]="getPaymentClass(oSubscription)" class="payment-badge d-inline-flex align-items-center gap-1">
                <span class="material-symbols-outlined status-icon">{{ getStatusIcon(oSubscription) }}</span>
                {{ getStatusLabelKey(oSubscription) | translate }}
              </span>
          </td>


          <td class="d-flex flex-row justify-content-end gap-2">
              <span
                *ngIf="oSubscription.paymentMethod==='credit' && oSubscription.buySuccess"
                class="material-symbols-outlined edit"
                [matTooltip]="'SUBSCRIPTIONS.GET_INVOICE' | translate"
                (click)="getInvoice(oSubscription)"
              >
                {{ 'SUBSCRIPTIONS.PAID' | translate }}
              </span>
            <span
                class="material-symbols-outlined edit"
                [matTooltip]="'COMMON.INFO' | translate"
                (click)="openSubscriptionProperties(oSubscription)"
              >
                tune
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <buy-new-subscription
    *ngIf="m_bShowBuySub"
    (m_oEmitBack)="openBuyNewSub($event)"
    [m_sOrganizationId]=""
  ></buy-new-subscription>
</div>
