<main class="d-flex flex-column">
  <rise-toolbar [m_bUserIsSigned]="false"></rise-toolbar>
  <div
    class="outlet-container d-flex flex-fill flex-column align-items-center justify-content-center"
  >
    <div class="hero-img"></div>
    <div class="login-container d-flex flex-column">
      <div
        class="slider-content flex-fill d-flex flex-column justify-content-between gap-4 my-2"
      >
        <h2 class="space-mono-regular">Change your Password</h2>
        <div class="inputs-container d-flex flex-column flex-fill gap-2">
          <p>
            Your password has expired. Please update your password to continue accessing your account.
          </p>
          <rise-text-input
            [m_sLocalizationKey]="'REGISTER.PASSWORD'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [(m_sInputText)]="m_oPasswordInputs.password"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'REGISTER.CONFIRM_PW'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [m_bIsValidatorInput]="true"
            [m_sErrorText]="m_sPasswordError"
            [(m_sInputText)]="m_oPasswordInputs.confirmPw"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-button
            [m_sLabel]="'Confirm'"
            [m_sRole]="'primary'"
            (click)="enableSubmit()?confirmRequest():''"
            [m_bDisabled]="!enableSubmit()"
          ></rise-button>
        </div>
      </div>
    </div>
  </div>
</main>

