.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.outlet-container {
  padding: 32px;
  overflow-y: auto;
  height: calc(100vh - 4rem);
}

.outlet-content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
