<main class="d-flex flex-column">
  <rise-toolbar class="toolbar" [m_bUserIsSigned]="true"></rise-toolbar>
  <div class="flex-fill d-flex flex-row">
    <account-sidebar
      [m_aoAccountButtons]="m_aoAccountButtons"
      [m_sActiveBtn]="m_sActiveOutlet"
      (m_sSelectedButton)="getActiveOutlet($event)"
    ></account-sidebar>
    <div class="outlet-container flex-fill px-3">
      <div class="outlet-content-wrapper">
        <user-account *ngIf="m_sActiveOutlet === 'user'"></user-account>
        <user-organization
          *ngIf="m_sActiveOutlet === 'organization'"
        ></user-organization>
        <user-subscriptions
          *ngIf="m_sActiveOutlet === 'subscriptions'"
          [m_sOrganizationId]=""
        ></user-subscriptions>
        <app-area-of-operations
          *ngIf="m_sActiveOutlet === 'area-of-operations'"
        ></app-area-of-operations>
      </div>
    </div>
  </div>
</main>
