<div class="d-flex flex-row gap-3 px-4">
  <!-- Left column (1/3 width) -->
  <div class="d-flex flex-column flex-fill gap-5" style="flex: 1;">
    <rise-crud-table
      (m_oAdd)="navigateRoute('create-area-of-operation')"
      [m_sButtonLabel]="'AREA_OF_OPERATIONS.CREATE_NEW_AREA_OF_OPERATION'"
      [m_asDisplayedColumns]="['name','activation date']"
      [m_aoDataSource]="this.m_aoAreasOfOperations"
      [canClickRow]="true"
      (m_oDelete)="onAreaDelete($event)"
      (m_oClickedRow)="onAreaSelection($event)"
    >
    </rise-crud-table>
  </div>

  <!-- Right column (2/3 width) -->
  <div class="d-flex flex-column" style="flex: 5;">
    <!-- Map section (1/3 height) -->
    <div class="map-container flex-fill">
      <rise-map [m_aoAreas]="m_aoAreasOfOperations"></rise-map>
    </div>

    <!-- Card section (2/3 height) -->
    <div class="card-container" *ngIf="m_bIsAreaSelected; else emptyState">
<!--      <app-area-details [area]="selectedArea"></app-area-details>-->
      <div class="d-flex flex-row gap-3 px-4">
        <!-- Left column -->
        <div class="d-flex flex-column flex-fill gap-5">
          <rise-text-input [(m_sInputText)]="m_oSelectedArea.name" [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.NAME'" class="mb-3"></rise-text-input>
          <rise-text-area-input [(m_sInputText)]="m_oSelectedArea.description" [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.DESCRIPTION'" class="mb-3"></rise-text-area-input>



          <!-- Spacing added with mb-3 for margin bottom -->
          <div class="mb-3">
            <rise-crud-table
              [m_sButtonLabel]="'CREATE_NEW_AREA_OF_OPERATION.ADD_FIELD_OPERATOR'"
              [m_asDisplayedColumns]="m_asUsersColumns"
              [m_aoDataSource]="m_aoUserData"
              (m_oDelete)="onFieldUserDelete($event)"
              (m_oAdd)="onFiledUserAdd()"
              (m_oTableData)="handleTableData($event)"
              [canClickRow]="false"

            >
            </rise-crud-table>
          </div>
        </div>

        <!-- Right column for the map -->
        <div class="col-8" >
          <div style="height: 500px; position: relative;">
            <!-- Spacing added with mb-3 for margin bottom -->
            <div class="mb-3">
              <rise-check-box

                [m_aoOptions]="this.m_asPlugins"
                (m_oSelectionChange)="onSelectionChange($event)">
              </rise-check-box>
            </div>
          </div>
          <div class="position-absolute" style="bottom: 10px; right: 10px;">
            <rise-button [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'" (click)="SaveAreaOfOperation()" class="me-2"></rise-button>
            <rise-button [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.CANCEL'" (click)="cancelCreatingAreaOfOperation()"></rise-button>
          </div>
        </div>
      </div>

    </div>
    <ng-template #emptyState>
      <div class="empty-card">No area selected</div>
    </ng-template>
  </div>
</div>
