.area-sidebar {
  background-color: rgba(0, 31, 40, 0.8);
  border-right: 1px solid var(--rise-border-default);
  backdrop-filter: blur(10px);
  height: 100%;
  padding-right: 1rem;
  width: 35%;
  z-index: 999;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.area-card-container {
  overflow-y: auto;
}

.area-card {
  border: 1px solid var(--rise-text-dim);
  border-radius: 8px;
  padding: 8px;
}

.material-symbols-outlined {
  color: var(--rise-text-dim);
  cursor: pointer;
  font-size: 20px;
}
