<!--Manage area of operations-->
<div *ngIf="!m_bShowNewArea" class="area-outlet h-100">
  <div
    class="area-container h-100 d-flex flex-column justify-content-between px-4"
  >
    <div
      class="account-header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
    >
      {{ "ACCOUNT.AREA_OF_OPERATIONS" | translate }}
    </div>
    <div class="body flex-fill d-flex flex-row mt-3">
      <div class="area-sidebar d-flex flex-column justify-content-between">
        <h3>{{ "AREA_OF_OPERATIONS.ACTIVE_AREAS" | translate }}</h3>
        <div class="area-card-container d-flex flex-column gap-2 flex-fill">
          <!-- Show this block when m_bDeleting is false -->
          <ng-container *ngIf="!m_bDeleting">          
            <div
              class="area-card d-flex flex-row justify-content-between align-items-center"
              (click)="flyToArea(oArea)"
              *ngFor="let oArea of m_aoAreasOfOperations"
            >
              <p class="mb-0">{{ oArea.name }}</p>
              <div class="area-buttons d-flex flex-row gap-1">
                <span
                  class="material-symbols-outlined"
                  (click)="openManageUsers(oArea)"
                >
                  group_add
                </span>
                <span
                  class="material-symbols-outlined"
                  (click)="openEditArea(oArea)"
                >
                  edit
                </span>
                <span
                  class="material-symbols-outlined"
                  (click)="goToMonitorArea(oArea)"
                >
                  target
                </span>
                <span
                  class="material-symbols-outlined"
                  (click)="deleteArea(oArea)"
                >
                  delete
                </span>
              </div>
            </div>
          </ng-container>
          <!-- Show this block when m_bDeleting is true -->
          <ng-container *ngIf="m_bDeleting">
            <div class="deleting-message d-flex justify-content-center align-items-center">
              <p>{{ "AREA_OF_OPERATIONS.DELETING_MESSAGE" | translate }}</p>
            </div>
          </ng-container>          
        </div>
        <rise-button
          *ngIf="!m_bShouldBuySub"
          [m_sLabel]="'AREA_OF_OPERATIONS.CREATE_NEW_AREA_OF_OPERATION'"
          (click)="toggleShowNew(true)"
        ></rise-button>
        <div
          *ngIf="m_bShouldBuySub"
          class="invalid-sub p-3 d-flex flex-row justify-content-between align-items-center"
        >
          <div>
            <div class="account-sub-header">
              {{ "SUBSCRIPTIONS.INVALID_SUB" | translate }}
            </div>
            <p class="my-0">
              {{ "SUBSCRIPTIONS.INVALID_SUB_MSG" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="map-container flex-fill">
        <rise-map [m_aoAreas]="m_aoAreasOfOperations"></rise-map>
      </div>

    </div>
  </div>
</div>
<!--create area of operations-->
<app-create-area-of-operation
  *ngIf="m_bShowNewArea"
  (m_oExitPage)="toggleShowNew(false)"
></app-create-area-of-operation>

