<div class="d-flex flex-row gap-3 px-4">
  <!-- Left column (1/3 width) -->
  <div class="d-flex flex-column flex-fill gap-5 col-2" >
    <rise-crud-table
      (m_oAddRow)="navigateRoute('create-area-of-operation')"
      [m_sButtonLabel]="'AREA_OF_OPERATIONS.CREATE_NEW_AREA_OF_OPERATION'"
      [m_asDisplayedColumns]="['name','activation date']"
      [m_aoDataSource]="this.m_aoAreasOfOperations">
    </rise-crud-table>
  </div>

  <!-- Right column (2/3 width) -->
  <div class="d-flex flex-column col-10" >
    <!-- Map section (1/3 height) -->
    <div class="map-container">
      <rise-map [m_aoAreas]="m_aoAreasOfOperations"></rise-map>
    </div>

    <!-- Card section (2/3 height) -->
    <div class="card-container" *ngIf="selectedArea; else emptyState">
<!--      <app-area-details [area]="selectedArea"></app-area-details>-->

    </div>
    <ng-template #emptyState>
      <div class="empty-card">No area selected</div>
    </ng-template>
  </div>
</div>
