.custom-small {
  --mat-form-field-padding: 0; /* Remove unnecessary padding */
  /*font-size: 18px; !* Smaller font size *!*/
  height: 30px; /* Ensure flexibility in height */
  /*line-height: 1; !* Compact line height *!*/
  background-color: transparent;
  padding-bottom: 5px;
  border-color: transparent;
  ;
}

.custom-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container is full width */
}

.custom-calendar-container input.custom-small {
  text-align: center; /* Centers the input text inside the field */
  color:white;
}

.custom-calendar-container mat-datepicker-toggle {
  margin-left: 8px; /* Space between the input and toggle button */
}

