<rise-toolbar class="toolbar" [m_bUserIsSigned]="true"></rise-toolbar>

<div class="body flex-fill d-flex flex-row mt-3" style="height: 90%;" *ngIf="!m_bCreateNewEvent && !m_bUpdatingEvent">
  <div class="events-sidebar d-flex flex-column justify-content-between">
    <div class="events-card-container d-flex flex-column gap-2 flex-fill">
      <div

        class="subscriptions-container d-flex flex-column justify-content-between px-4"
      >
        <div
          class="account-header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
        >
          {{ "MANAGE_EVENTS.HEADER" | translate }}

          <div class="d-flex flex-row gap-2">
            <rise-button
              [m_sSize]="'small'"
              [m_sRole]="'action'"
              [m_sLabel]="'MANAGE_EVENTS.CREATE_NEW_EVENT'"
              (click)="onCreateNewEvent()"
            ></rise-button>
            <rise-button
              [m_sSize]="'small'"
              [m_sRole]="'regular'"
              [m_sLabel]="'MANAGE_EVENTS.RETURN'"
              (click)="onReturn()"
            ></rise-button>
          </div>
        </div>

        <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
          <table class="w-100">
            <thead>
            <tr>
              <td>{{ "EVENT.NAME" | translate }}</td>
              <td>{{ "EVENT.TYPE" | translate }}</td>
              <td>{{ "EVENT.START_DATE" | translate }}</td>
              <td>{{ "EVENT.PEAK_DATE" | translate }}</td>
              <td>{{ "EVENT.END_DATE" | translate }}</td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let oEvent of m_aoEvents">
              <td>{{ oEvent.name }}</td>
              <td>{{ getNameOfEventType(oEvent.type)}}</td>
              <td>{{ oEvent.startDate*1000| date : 'yyyy-MM-dd' }}</td>
              <td>{{ oEvent.peakDate*1000| date : 'yyyy-MM-dd' }}</td>
              <td>{{ oEvent.endDate*1000| date : 'yyyy-MM-dd' }}</td>
              <td class="d-flex flex-row justify-content-end gap-2">
              <span
                class="material-symbols-outlined edit"
                [matTooltip]="'Edit Event'"
                (click)="editEvent(oEvent)"
              >
                edit
              </span>
                <span
                  class="material-symbols-outlined remove"
                  [matTooltip]="'Remove Event'"
                  (click)="deleteEvent(oEvent)"
                >
                delete
              </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="map-container flex-fill">
    <rise-map [m_aoEvents]="m_aoEvents"></rise-map>
  </div>
</div>
<div class="create-outlet" *ngIf="m_bCreateNewEvent || m_bUpdatingEvent">
  <div
    class="create-container h-100 d-flex flex-column justify-content-between px-4"
  >
    <div
      class="account-header d-flex flex-row align-items-center justify-content-between mt-2 p-2"
    >
      {{ "MANAGE_EVENTS.CREATE_NEW_EVENT" | translate }}
    </div>
    <div class="body flex-fill d-flex flex-row my-3">
      <div class="create-sidebar d-flex flex-column justify-content-between">
        <div class="d-flex flex-column gap-2">
          <rise-text-input
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEvent.name"
            [m_sLocalizationKey]="'CREATE_NEW_EVENT.NAME'"
          ></rise-text-input>
          <div class="align-items-md-start d-flex">
            <span class="toggle-label">Public event</span>
            <mat-slide-toggle labelPosition="before" (change)="onSwitchPublicButton($event)" [(ngModel)]="m_oEvent.publicEvent" class="custom-toggle"></mat-slide-toggle>
          </div>
          <rise-textarea-input
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEvent.description"
            [m_sLocalizationKey]="'CREATE_NEW_EVENT.DESCRIPTION'"
            [m_bIsValidatorInput]="true"
          ></rise-textarea-input>
          <rise-date-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'Start Date'"
            [(m_sInputDate)]="m_sStartDate"
            (m_sInputDateChange)="onDateChange($event,'startDate')"
          ></rise-date-input>
          <rise-date-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'Peak Date'"
            [(m_sInputDate)]="m_sPeakDate"
            (m_sInputDateChange)="onDateChange($event,'peakDate')"
          ></rise-date-input>
          <rise-date-input
            *ngIf="!m_oEvent.onGoing"
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'End Date'"
            [(m_sInputDate)]="m_sEndDate "
            (m_sInputDateChange)="onDateChange($event,'endDate')"
          ></rise-date-input>
          <div
            class="invalid-feedback d-flex flex-row gap-1 mt-2"
            *ngIf="m_bIsDateInvalid"
          >
            <span class="material-symbols-outlined"> info </span>
            <div [innerHTML]="m_sDateErrorText"></div>
          </div>

          <!--          todo add date range here with switch button for live or no-->
          <div class="align-items-md-start d-flex">
            <span class="toggle-label">On-going event</span>
            <mat-slide-toggle labelPosition="before" (change)="onSwitchOnGoingButton($event)" [(ngModel)]="m_oEvent.onGoing" class="custom-toggle"></mat-slide-toggle>
          </div>


          <div>
            {{ 'CREATE_NEW_EVENT.TYPE' | translate }}
            <div class="event-grid">
              <label *ngFor="let option of m_aoEventTypes" class="event-item">
                <input
                  type="radio"
                  name="area_type"
                  [(ngModel)]="m_oEvent.type"
                  [value]="option.value"
                />
                {{ option.name | titlecase }}
              </label>
            </div>
          </div>

        </div>
        <div class="d-flex flex-column gap-2">
          <rise-button
            [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'"
            [m_bDisabled]="!enableSubmit()"
            (click)="enableSubmit()?executeEventSaving():''"
          ></rise-button>
          <rise-button
            [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.CANCEL'"
            [m_sRole]="'muted'"
            [m_bDisabled]=""
            (click)="exitCreatingNewEvent()"
          ></rise-button>
        </div>
      </div>
      <div class="map-container-create flex-fill">
        <rise-map
          (m_oMapInputChange)="onMapInputChange($event)"
          [m_bIsSelectingArea]="m_bCreateNewEvent"
          [m_oEvent]="m_bUpdatingEvent?m_oEvent:{}"
        ></rise-map>
        <!-- Drag-and-Drop Zones -->
        <div class="drag-drop-container d-flex flex-row justify-content-between mt-3">
          <!-- Images Drag-and-Drop -->
          <div class="drag-drop-zone">
            <label class="drag-drop-label">
              {{ "CREATE_NEW_EVENT.UPLOAD_IMAGES" | translate }}
            </label>
            <rise-drag-and-drop
              (m_oSelectedFileOutput)="uploadImage($event)"
            ></rise-drag-and-drop>
          </div>
          <!-- Documents Drag-and-Drop -->
          <div class="drag-drop-zone">
            <label class="drag-drop-label">
              {{ "CREATE_NEW_EVENT.UPLOAD_DOCUMENTS" | translate }}
            </label>
            <rise-drag-and-drop
              (m_oSelectedFileOutput)="uploadDocument($event)"
            ></rise-drag-and-drop>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


