<div class="widget-container">
  <div
    class="widget-header d-flex flex-row justify-content-between align-items-center gap-2"
  >
    <span class="material-symbols-outlined"> emergency </span>
    <div
      class="flex-fill d-flex flex-row justify-content-between align-items-center"
    >
      {{ "WIDGET.ONGOING_EVENTS" | translate }}
      <rise-badge [m_iDisplayNum]="m_aoOngoingEvent.length"></rise-badge>
    </div>
    @if (m_bShowContent) {
    <span (click)="collapseWidget()" class="material-symbols-outlined">
      keyboard_arrow_up
    </span>
    } @else {
    <span (click)="collapseWidget()" class="material-symbols-outlined">
      keyboard_arrow_down
    </span>
    }
  </div>
  <div *ngIf="m_bShowContent" class="affected-ppl">
    @if (m_aoOngoingEvent.length > 0) {
    <div
      class="event-item d-flex flex-column gap-1 mt-2"
      *ngFor="let oEvent of m_aoOngoingEvent"
    >
    <div class="d-flex flex-row justify-content-between">
        <div class="event-type">{{ oEvent.type }}</div>
        <div>{{ oEvent.name }}</div>
        <span (click)="openTargetArea(oEvent.areaId)" class="material-symbols-outlined widget-gold-icon" [matTooltip]="oEvent.areaName">my_location</span>
      </div>
    </div>
    } @else {
    <div class="event-item mt-2">
      {{ "WIDGET.NO_EVENTS" | translate }}
    </div>
    }
  </div>
</div>
