<main class="d-flex flex-column">
  <rise-toolbar [m_bUserIsSigned]="false"></rise-toolbar>
  <div
    class="outlet-container d-flex flex-fill flex-column align-items-center justify-content-center"
  >
    <div class="hero-img"></div>
    <div class="login-container d-flex flex-column">
      <div
        class="slider-content flex-fill d-flex flex-column justify-content-between gap-4 my-2"
      >
        <h2 class="space-mono-regular">{{'CONFIRM_ADMIN_INV.TITLE' | translate}}</h2>
        <div class="inputs-container d-flex flex-column flex-fill gap-2">
          <p>
            {{'CONFIRM_ADMIN_INV.DESCRIPTION' | translate}}
          </p>
          <rise-button
            [m_sLabel]="'CONFIRM_ADMIN_INV.CONFIRM'"
            [m_sRole]="'primary'"
            (click)="confirmRegistration()"
          ></rise-button>
        </div>
      </div>
    </div>
  </div>
</main>
