<div class="outlet">
  <div class="user-container d-flex flex-column justify-content-between px-4">
    <div class="account-header d-flex flex-row align-items-center mt-2 p-2">
      {{ "USER.MY_ACCOUNT" | translate }}
    </div>
    <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
      <!-- User Personal Information Inputs -->
      <div class="d-flex flex-column gap-1">
        <div class="account-sub-header">
          {{ "USER.ACCOUNT_HEADER" | translate }}
        </div>
        <div class="d-flex flex-row gap-2">
          <rise-text-input
            class="col-6"
            [m_sLocalizationKey]="'REGISTER.NAME'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oUser.name"
          ></rise-text-input>
          <rise-text-input
            class="col-6"
            [m_sLocalizationKey]="'REGISTER.SURNAME'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oUser.surname"
          ></rise-text-input>
        </div>
        <div class="d-flex flex-row gap-2">
          <rise-text-input
            class="col-6"
            [m_sLocalizationKey]="'LOGIN.USER_ID'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_sNewUserId"
            [m_sErrorText]="m_sUsernameError"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="validateUserId()"
          ></rise-text-input>
<!--          <rise-number-input-->
<!--            class="col-6"-->
<!--            [m_sLocalizationKey]="'REGISTER.MOBILE'"-->
<!--            [m_bHasTitle]="true"-->
<!--            [(m_sInputText)]="m_oUser.mobile"-->
<!--            [m_sType]="'phone'"-->
<!--          >-->
<!--          </rise-number-input>-->
          <rise-number-input
            class="col-6"
            [m_sLocalizationKey]="'REGISTER.MOBILE'"
            [m_bHasTitle]="true"
            [(m_sPhonePrefix)]="m_oUser.internationalPrefix"
            [(m_sPhoneNumber)]="m_oUser.mobile"
            [m_sType]="'phone'"
          ></rise-number-input>

        </div>
        <rise-button
          class="align-self-start mt-2"
          [m_sRole]="'primary'"
          [m_bDisabled]="!hasUserChanged()"
          [m_sLabel]="'ORGANIZATION.SAVE'"
          (click)="hasUserChanged()?saveUserPersonalInformation():''"
        ></rise-button>
      </div>
      <div class="d-flex flex-row gap-2">
        <!-- Update Email and Password Container -->
        <div class="d-flex flex-column gap-1 col-6">
          <div class="account-sub-header">
            {{ "USER.CONNECT_EMAIL" | translate }}
          </div>
          <p class="account-sub-msg"
             [innerHTML]="'USER.SUB_MSG' | translate"
          >
          </p>
          <rise-text-input
            [m_sLocalizationKey]="'USER.EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.currentEmail"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.NEW_EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.newEmail"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidEmail"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.CONFIRM_EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.verifyNewEmail"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidEmail"
          ></rise-text-input>
          <rise-button
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'USER.CHANGE_EMAIL'"
            [m_bDisabled]="!enableChangeEmail()"
            (click)="changeEmail()"
          ></rise-button>
        </div>
        <div class="d-flex flex-column gap-1 col-6">
          <div class="account-sub-header">
            {{ "USER.PW_SECURITY" | translate }}
          </div>
          <p
            class="account-sub-msg"
            [innerHTML]="'USER.PW_MSG' | translate"
          ></p>
          <rise-text-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'USER.OLD_PW'"
            [(m_sInputText)]="m_oPasswordInputs.currentPW"
            [m_bRequired]="true"
            [m_sType]="'password'"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.NEW_PW'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [(m_sInputText)]="m_oPasswordInputs.newPw"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.CONFIRM_PW'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [m_bIsValidatorInput]="true"
            [m_sErrorText]="m_sPasswordError"
            [(m_sInputText)]="m_oPasswordInputs.verifyNewPw"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-button
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'USER.CHANGE_PW'"
            [m_bDisabled]="!enableChangePassword()"
            (click)="changePassword()"
          ></rise-button>
        </div>
      </div>
      <!-- ... Previous Email & Password row ... -->

      <div class="d-flex flex-row gap-2">
        <!-- System Language Selector -->
        <div class="d-flex flex-column align-items-start col-6">
          <div class="account-sub-header">
            {{ "USER.SELECT_LANG" | translate }}
          </div>
          <p class="account-sub-msg">
            {{ "USER.SELECT_LANG_MSG" | translate }}
          </p>
          <rise-dropdown
            class="col-6"
            [m_sLabel]="'USER.LANGUAGE'"
            [m_aoDropdownItems]="m_aoLanguages"
            (m_oSelectionChange)="setUserDefaultLanguage($event)"
            [m_aoSelectedItems]="m_oSelectedLanguageItem?m_oSelectedLanguageItem:''"
          ></rise-dropdown>
          <rise-button
            (click)="saveUserLanguagesSetting()"
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'ORGANIZATION.SAVE'"
          ></rise-button>
        </div>

        <!-- Notifications Selector (Fixed col-6 width to match Language) -->
        <div class="d-flex flex-column gap-1 col-6 ps-2">
          <div class="account-sub-header">
            {{ "USER.NOTIFICATIONS" | translate }}
          </div>
          <p
            class="account-sub-msg"
            [innerHTML]="'USER.NOTIFICATIONS_MSG' | translate"
          ></p>
          <rise-checkbox
            [m_aoOptions]="m_aoNotificationOptions"
            [m_aoSelectedValues]="m_aoSelectedNotifications"
            (m_oSelectionChange)="handleCheckboxChange($event)"
          ></rise-checkbox>
          <rise-button
            (click)="saveNotifications()"
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'ORGANIZATION.SAVE'"
          ></rise-button>
        </div>
      </div>

      <!-- NEW: Default Base Map Selector (Full width block) -->
      <div class="d-flex flex-column gap-1">
        <div class="account-sub-header">
          Default Base Map
        </div>
        <p class="account-sub-msg mb-2">
          Choose the map style that will load by default when you open a workspace.
        </p>

        <!-- 3x2 Grid Container -->
        <div class="map-grid-container">

          <!-- 5 Active Maps -->
          <div *ngFor="let oMap of m_aoBaseMaps"
               class="map-theme-card d-flex align-items-end p-2 cursor-pointer position-relative"
               [ngClass]="oMap.class"
               [class.selected-map]="m_oUser.defaultBaseMap === oMap.id"
               (click)="selectDefaultBaseMap(oMap.id)">

            <!-- Checkmark -->
            <div *ngIf="m_oUser.defaultBaseMap === oMap.id" class="selected-icon">
              <span class="material-symbols-outlined">check_circle</span>
            </div>

            <!-- Label -->
            <div class="map-theme-label w-100 text-center rounded">
              {{ oMap.name }}
            </div>
          </div>

          <!-- 6th Blocked 'Add' Card -->
          <div class="map-theme-card add-map-card d-flex flex-column align-items-center justify-content-center cursor-not-allowed position-relative" title="Coming Soon">
            <span class="material-symbols-outlined fs-2 text-muted mb-3">add</span>

            <div class="map-theme-label w-100 text-center rounded position-absolute" style="bottom: 8px; width: calc(100% - 16px) !important;">
              Add Custom
            </div>
          </div>
          <rise-button
            class="align-self-start mt-3"
            [m_sRole]="'primary'"
            [m_bDisabled]="!hasMapChanged()"
            [m_sLabel]="'ORGANIZATION.SAVE'"
            (click)="saveMapSetting()"
          ></rise-button>

        </div>
      </div>

      <!-- ... Delete Account Area ... -->
      <div
        class="delete-area p-3 d-flex flex-row justify-content-between align-items-center"
      >
        <div>
          <div class="account-sub-header">
            {{ "USER.DELETE_ACCOUNT" | translate }}
          </div>
          <p class="my-0">
            {{ "USER.DELETE_MSG" | translate }}
          </p>
        </div>
        <rise-button
          [m_sLabel]="'USER.DELETE_ACCOUNT'"
          [m_sRole]="'danger'"
          (click)="deleteUser()"
        ></rise-button>
      </div>
    </div>
  </div>
</div>
