<div class="outlet">
  <div class="user-container d-flex flex-column justify-content-between px-4">
    <div class="account-header d-flex flex-row align-items-center mt-2 p-2">
      {{ "USER.MY_ACCOUNT" | translate }}
    </div>
    <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
      <!-- User Personal Information Inputs -->
      <div class="d-flex flex-column gap-1">
        <div class="account-sub-header">
          {{ "USER.ACCOUNT_HEADER" | translate }}
        </div>
        <div class="d-flex flex-row gap-2">
          <rise-text-input
            class="col-6"
            [m_sLocalizationKey]="'REGISTER.NAME'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oUser.name"
          ></rise-text-input>
          <rise-text-input
            class="col-6"
            [m_sLocalizationKey]="'REGISTER.SURNAME'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oUser.surname"
          ></rise-text-input>
        </div>
        <rise-text-input
          class="col-6"
          [m_sLocalizationKey]="'REGISTER.MOBILE'"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_oUser.mobile"
        ></rise-text-input>
        <rise-text-input
          class="col-6"
          [m_sLocalizationKey]="'LOGIN.USER_ID'"
          [m_bHasTitle]="true"
          [(m_sInputText)]="m_sNewUserId"
          [m_sErrorText]="m_sUsernameError"
          [m_bIsValidatorInput]="true"
          [m_bIsValid]="validateUserId()"
        ></rise-text-input>
        <rise-button
          class="align-self-start mt-2"
          [m_sRole]="'primary'"
          [m_sLabel]="'ORGANIZATION.SAVE'"
          (click)="saveUserPersonalInformation()"
        ></rise-button>
      </div>
      <div class="d-flex flex-row gap-2">
        <!-- Update Email and Password Container -->
        <div class="d-flex flex-column gap-1 col-6">
          <div class="account-sub-header">
            {{ "USER.CONNECT_EMAIL" | translate }}
          </div>
          <p class="account-sub-msg"
             [innerHTML]="'USER.SUB_MSG' | translate"
          >
          </p>
          <rise-text-input
            [m_sLocalizationKey]="'USER.EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.currentEmail"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.NEW_EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.newEmail"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidEmail"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.CONFIRM_EMAIL'"
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oEmailInputs.verifyNewEmail"
            [m_bIsValidatorInput]="true"
            [m_bIsValid]="m_bValidEmail"
          ></rise-text-input>
          <rise-button
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'USER.CHANGE_EMAIL'"
            [m_bDisabled]="!enableChangeEmail()"
            (click)="changeEmail()"
          ></rise-button>
        </div>
        <div class="d-flex flex-column gap-1 col-6">
          <div class="account-sub-header">
            {{ "USER.PW_SECURITY" | translate }}
          </div>
          <p
            class="account-sub-msg"
            [innerHTML]="'USER.PW_MSG' | translate"
          ></p>
          <rise-text-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'USER.OLD_PW'"
            [(m_sInputText)]="m_oPasswordInputs.currentPW"
            [m_bRequired]="true"
            [m_sType]="'password'"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.NEW_PW'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [(m_sInputText)]="m_oPasswordInputs.newPw"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-text-input
            [m_sLocalizationKey]="'USER.CONFIRM_PW'"
            [m_bRequired]="true"
            [m_bHasTitle]="true"
            [m_sType]="'password'"
            [m_bIsValidatorInput]="true"
            [m_sErrorText]="m_sPasswordError"
            [(m_sInputText)]="m_oPasswordInputs.verifyNewPw"
            [m_bIsValid]="validatePassword()"
          ></rise-text-input>
          <rise-button
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'USER.CHANGE_PW'"
            [m_bDisabled]="!enableChangePassword()"
            (click)="changePassword()"
          ></rise-button>
        </div>
      </div>
      <div class="d-flex flex-row gap-2">
        <!-- System Language Selector -->
        <div class="d-flex flex-column align-items-start col-6">
          <div class="account-sub-header">
            {{ "USER.SELECT_LANG" | translate }}
          </div>
          <p class="account-sub-msg">
            {{ "USER.SELECT_LANG_MSG" | translate }}
          </p>
          <rise-dropdown
            class="col-6"
            [m_sLabel]="'USER.LANGUAGE'"
            [m_aoDropdownItems]="m_aoLanguages"
            (m_oSelectionChange)="setUserDefaultLanguage($event)"
            [m_aoSelectedItems]="m_oSelectedLanguageItem?m_oSelectedLanguageItem:''"
          ></rise-dropdown>
          <rise-button
            (click)="saveUserLanguagesSetting()"
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'ORGANIZATION.SAVE'"
          ></rise-button>
        </div>
        <div class="d-flex flex-column gap-1 ps-2">
          <div class="account-sub-header">
            {{ "USER.NOTIFICATIONS" | translate }}
          </div>
          <p
            class="account-sub-msg"
            [innerHTML]="'USER.NOTIFICATIONS_MSG' | translate"
          ></p>
          <rise-checkbox
            [m_aoOptions]="m_aoNotificationOptions"
            [m_aoSelectedValues]="m_aoSelectedNotifications"
            (m_oSelectionChange)="handleCheckboxChange($event)"
          ></rise-checkbox>
          <rise-button
            (click)="saveNotifications()"
            class="align-self-start mt-2"
            [m_sRole]="'primary'"
            [m_sLabel]="'ORGANIZATION.SAVE'"
          ></rise-button>
        </div>
      </div>
      <div
        class="delete-area p-3 d-flex flex-row justify-content-between align-items-center"
      >
        <div>
          <div class="account-sub-header">
            {{ "USER.DELETE_ACCOUNT" | translate }}
          </div>
          <p class="my-0">
            {{ "USER.DELETE_MSG" | translate }}
          </p>
        </div>
        <rise-button
          [m_sLabel]="'USER.DELETE_ACCOUNT'"
          [m_sRole]="'danger'"
          (click)="deleteUser()"
        ></rise-button>
      </div>
    </div>
  </div>
</div>
