<div class="map-container">
  <!-- <rise-button
      [m_sLabel]="'RISE_SELECT_AREA.UPLOAD_SHAPE_FILE'"
      (click)="openImportDialog()"
    ></rise-button> -->
  <div class="map-frame">
    <ng-container *ngIf="m_bIsSelectingArea; else nonDrawMap">
      <!-- Map with leafletDraw when selecting area -->
      <div
        id="map"
        leaflet
        leafletDraw
        [leafletOptions]="m_oMapOptions"
        [leafletDrawOptions]="m_oDrawOptions"
        (leafletMapReady)="onMapReady($event)"
        (leafletDrawCreated)="onDrawCreated($event)"
      >
        <div [leafletLayer]="m_oDrawnItems"></div>
      </div>
    </ng-container>

    <ng-template #nonDrawMap>
      <!-- Map without leafletDraw -->
      <div
        id="map"
        [class.dashboard-map]="m_bDashboardMap"
        leaflet
        [leafletOptions]="m_oMapOptions"
        (leafletMapReady)="onMapReady($event)"
      >
        <div [leafletLayer]="m_oDrawnItems" *ngIf="m_bIsSelectingArea"></div>
      </div>
    </ng-template>
  </div>
</div>
