input,
span.input-group-text,
input:focus {
  background-color: var(--surface-glass-interactive);
  border: 1px solid var(--rise-text-dim);
  color: var(--rise-text-bright);
}

.form-label {
  color: var(--rise-text-dim);
  line-height: 12px;
}

::placeholder {
  color: var(--rise-text-dim);
}

:-ms-input-placeholder {
  color: var(--rise-text-dim);
}

.input-group {
  position: relative;
}

.calendar-icon {
  position: absolute;
  right: 10px; /* Adjust to align with the input field */
  top: 50%;
  transform: translateY(-50%);
  color: var(--rise-gold); /* Replace with your desired color */
  pointer-events: none; /* Prevent the icon from blocking input clicks */
}