<main>
    <rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar>
    <!-- <rise-button [m_sLabel]="'Go To Monitor'" (click)="navigateRoute('monitor')"></rise-button> -->
    <div class="d-flex flex-row">
        <div class="widgets-sidebar d-flex flex-column">
            <rise-ongoing-widget [m_aoOngoingEvent]="m_aoOngoingEvents"></rise-ongoing-widget>
            <rise-affected-widget [m_iAffectedPpl]="m_iAffectedPpl"></rise-affected-widget>
            <rise-alerts-widget [m_aoAlerts]="m_aoAlerts"></rise-alerts-widget>
        </div>
        <div class="flex-fill">
            <rise-map [m_aoAreas]="m_aoAreas"></rise-map>
        </div>
    </div>
</main>