<main class="d-flex flex-column">
  <!-- <rise-toolbar [m_bUserIsSigned]="true"></rise-toolbar> -->
  <div class="flex-fill d-flex flex-row">
    <div class="rise-sidebar d-flex flex-column gap-3">
      <img
        class="align-self-start"
        src="/assets/rise-assets/logo-white-horizontal.svg"
        alt=""
      />
      <rise-text-input
        [m_sLocalizationKey]="'DASHBOARD.SEARCH'"
        [m_sIcon]="'search'"
        [m_bHasIcon]="true"
      ></rise-text-input>

      <rise-banner [m_sHeaderKey]="'BANNER.LIVE_SIT'"></rise-banner>
      <rise-affected-widget
        [m_iAffectedPpl]="m_iAffectedPpl"
      ></rise-affected-widget>
      <rise-ongoing-widget
        [m_aoOngoingEvent]="m_aoOngoingEvents"
      ></rise-ongoing-widget>
      <rise-alerts-widget [m_aoAlerts]="m_aoAlerts"></rise-alerts-widget>
    </div>
    <div class="map-container flex-fill">
      <rise-user-menu class="user-menu"></rise-user-menu>
      <rise-map [m_aoAreas]="m_aoAreas" [m_bDashboardMap]="true"></rise-map>
    </div>
  </div>
</main>
