<div class="timebar-container d-flex flex-column">
  <div class="slider-container position-relative">
    <!-- Slider input -->
    <input
      #slider
      class="slider {{ m_sSliderClass }}"
      type="range"
      name=""
      id="slider-id"
      [max]="m_asDates.length - 1"
      [(value)]="m_iSliderValue"
      (change)="dateSelected($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    />

    <!-- Ticks -->
    <div class="ticks-container position-absolute w-100">
      <div
        *ngFor="let tick of m_aiTicks; let i = index"
        class="tick"
        [style.left]="getTickPosition(i)"
      >
        {{ tick.value }}
      </div>
    </div>

    <!-- Event Markers -->
<!--    <div class="events-markers-container position-absolute w-100">-->
<!--      <div-->
<!--        *ngFor="let event of m_aoEvents; let i = index"-->
<!--        class="event-marker"-->
<!--        [style.left]="getEventMarkerPosition(event.peakDate*1000)"-->
<!--        [matTooltip]="event.description"-->
<!--      >-->

<!--      </div>-->
<!--    </div>-->

    <div class="events-markers-container position-absolute w-100">
      <div
        *ngFor="let event of getVisibleEvents()"
        class="event-icon"
        [style.left]="getEventMarkerPosition(event.peakDate * 1000)"
        [matTooltip]="event.description"
        (click)="goToEvent(event)"
      >
      <span class="material-symbols-outlined">flag</span>
        <!-- <span class="material-symbols-outlined" *ngIf="event.type===EventType.FLOOD">flood</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.DROUGHT">light_mode</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.CONFLICT">destruction</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.EARTHQUAKE">domain</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.TSUNAMI">rainy</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.INDUSTRIAL_ACCIDENT">event</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.LANDSLIDE">destruction</span>
        <span class="material-symbols-outlined" *ngIf="event.type===EventType.OTHER">event</span> -->
      </div>
    </div>
  </div>

  <div
    class="timebar-options flex-fill d-flex flex-row justify-content-between align-items-center px-4"
  >
    <!-- Left-aligned options -->
    <div class="time-options d-flex flex-row align-items-center gap-4">
      <!--span class="material-symbols-outlined" (click)="onPlayButtonClick()"> play_arrow </span-->
      <span class="material-symbols-outlined" (click)="minusOneDayFromDate()">history </span>
      <span class="material-symbols-outlined" (click)="addOneDayToDate()"> update </span>
      <rise-button
        [m_sLabel]="'Live'"
        [m_sIconLeft]="'radio_button_checked'"
        [m_sIconColor]="m_bIsLive ? m_sLiveIconColor : ''"
        (click)="onLiveButtonClick()"
      >
      </rise-button>
    </div>

    <!-- Right-aligned chip menu -->
<!--    <rise-chip-menu-->
<!--      [m_sSelectedItem]="m_oSelectedDate"-->
<!--      [m_asItems]="m_asDates"-->
<!--      (m_oSelectedItem)="dateSelected($event)"-->
<!--    ></rise-chip-menu>-->
    <rise-calendar
      [m_oSelectedDate]="m_oSelectedDate"
      [m_oStartDate]="m_oMomentStartDate"
      (m_oSelectedDateFromCalendar)="dateSelected($event)"
      [m_aoHighlightDates]="convertEventToDates()"
    ></rise-calendar>
  </div>
</div>
