<div class="timebar-container d-flex flex-column">
  <div class="slider-container position-relative">
    <!-- Slider input -->
    <input
      #slider
      class="slider {{ m_sSliderClass }}"
      type="range"
      name=""
      id="slider-id"
      [max]="m_asDates.length - 1"
      [(value)]="m_iSliderValue"
      (change)="dateSelected($event,true)"
      (mouseenter)="onMouseEnter($event)"
      (mouseleave)="onMouseLeave($event)"
    />

    <!-- Ticks -->
    <div class="ticks-container position-absolute w-100">
      <div
        *ngFor="let tick of m_aiTicks; let i = index"
        class="tick"
        [style.left]="getTickPosition(i)"
      >
        {{ tick.value }}
      </div>
    </div>



    <div class="events-markers-container position-absolute w-100">
      <div
        *ngFor="let event of getVisibleEvents()"
        class="event-icon"
        [style.left]="getEventMarkerPosition(event.peakDate * 1000)"
        [matTooltip]="event.description"
        (click)="goToEvent(event,true)"
      >
      <span class="material-symbols-outlined">flag</span>
      </div>
    </div>
  </div>

  <div
    class="timebar-options flex-fill d-flex flex-row justify-content-between align-items-center px-4"
  >
    <!-- Left-aligned options -->
    <div class="time-options d-flex flex-row align-items-center gap-4">
      <!--span class="material-symbols-outlined" (click)="onPlayButtonClick()"> play_arrow </span-->
      <span class="material-symbols-outlined"  [class.disabled-button]="m_bDisablePrevButton" (click)="minusOneDayFromDate()">history </span>
      <span class="material-symbols-outlined" [class.disabled-button]="m_bDisableNextButton" (click)="addOneDayToDate()"> update </span>
      <rise-button
        [m_sLabel]="'TIMEBAR.LIVE'"
        [m_sIconLeft]="'radio_button_checked'"
        [m_sIconColor]="m_bIsLive ? m_sLiveIconColor : ''"
        (click)="onLiveButtonClick()"
      >
      </rise-button>
    </div>

    <div class="range-selector d-flex flex-row align-items-center gap-2">
      <ng-container *ngFor="let sRange of m_asTimeRanges; let i = index">
        <span
          class="range-option cursor-pointer"
          [class.active]="m_sSelectedTimeRange === sRange"
          (click)="onTimeRangeSelected(sRange)">
          {{ sRange }}
        </span>
        <span *ngIf="i < m_asTimeRanges.length - 1" class="range-separator">|</span>
      </ng-container>
    </div>
    <rise-calendar
      [m_oSelectedDate]="m_oSelectedDate"
      [m_oStartDate]="m_oMomentStartDate"
      (m_oSelectedDateFromCalendar)="dateSelected($event,true)"
      [m_aoHighlightDates]="convertEventToDates()"
    ></rise-calendar>
  </div>
</div>
