<div class="timebar-container d-flex flex-column">
  <input
    class="slider"
    type="range"
    name=""
    id=""
    [max]="m_asDates.length - 1"
    [(value)]="m_iSliderValue"
    (change)="dateSelected($event)"
  />
  <div class="ticks-container">
    <div
      *ngFor="let tick of yearTicks; let i = index"
      class="tick"
      [style.left]="getTickPosition(i)"
    >
      {{ tick.year }}
    </div>
  </div>
  <!-- <div
    class="timecontrol-slider d-flex flex-row justify-content-evenly"
    #dragZone
  >
    <div
      class="knob"
      #draggable
      cdkDrag
      cdkDragBoundary=".timecontrol-slider"
      (cdkDragMoved)="onDrop($event)"
    ></div>
  </div> -->
  <div
    class="timebar-options flex-fill d-flex flex-row justify-content-between align-items-center px-4"
  >
    <div class="time-options d-flex flex-row align-items-center gap-4">
      <span class="material-symbols-outlined" (click)="onPlayButtonClick()"> play_arrow </span>
      <span class="material-symbols-outlined" (click)="minusOneDayFromDate()">history </span>
      <span class="material-symbols-outlined" (click)="addOneDayToDate()"> update </span>
      <rise-chip-menu
        [m_sSelectedItem]="m_oSelectedDate"
        [m_asItems]="m_asDates"
        (m_oSelectedItem)="dateSelected($event)"
      ></rise-chip-menu>
      <rise-button
      [m_sLabel]="'Live'"
      [m_sIconLeft]="'radio_button_checked'"
      [m_sIconColor]="m_bIsLive?m_sIconColor:''"
      (click)="setDateToLive()"
      >
      </rise-button>
    </div>
  </div>
</div>
