<div class="dialog-container d-flex flex-column gap-2 p-3" xmlns="http://www.w3.org/1999/html">
  <div
    class="header d-flex flex-row justify-content-between align-items-center"
  >
    <h3>
      {{"MANUAL_BBOX.TITLE"|translate}}
    </h3>
    <span class="close-btn material-symbols-outlined" (click)="onDismiss()">
      close
    </span>
  </div>
  <div class="d-flex flex-row justify-content-end">
    <rise-button *ngIf="!m_bShowJSON" [m_sLabel]="'MANUAL_BBOX.JSON_INPUT'" [m_sSize]="'small'"
                (click)="toggleShowJSON()"></rise-button>
    <rise-button *ngIf="m_bShowJSON" [m_sLabel]="'MANUAL_BBOX.INPUT_FIELDS'" [m_sSize]="'small'"
                (click)="toggleShowJSON()"></rise-button>
  </div>



  <div *ngIf="!m_bShowJSON" class="body flex-fill d-flex flex-column">
    <!-- Two Columns -->
    <div class="d-flex flex-row  mb-2">
      <div class="col-6 d-flex flex-column ">
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'North'"
          [(m_sInputText)]="m_oBBox.north"

        ></rise-text-input>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'South'"
          [(m_sInputText)]="m_oBBox.south"

        ></rise-text-input>
      </div>
      <div class="col-6 d-flex flex-column ">
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'East'"
          [(m_sInputText)]="m_oBBox.east"

        ></rise-text-input>
        <rise-text-input
          [m_bHasTitle]="true"
          [m_sLocalizationKey]="'West'"
          [(m_sInputText)]="m_oBBox.west "

        ></rise-text-input>
      </div>
    </div>
    <!-- Button -->

  </div>
  <div [hidden]="!m_bShowJSON" class="flex-fill my-2 JSON-container">
    <div #editor class="json-editor" style="height: 100%; width: 100%;" (keyup)="getJsonInput()"
         (change)="getJsonInput()"></div>
    <rise-button class="info-button" [m_sIconLeft]="'info'" [m_sSize]="'small'"
                (click)="openInfoDialog()"></rise-button>
    <rise-button class="json-button" [m_sLabel]="'MANUAL_BBOX.DIALOG_PROCESSOR_UI_APP_FORMAT_JSON' | translate"
                [m_sSize]="'small'" (click)="checkJSON()"></rise-button>
  </div>
  <rise-button
    class="align-self-end mt-3"
    [m_sRole]="'action'"
    [m_sLabel]="'MANUAL_BBOX.DRAW_AREA'"
    (click)=" submit()"
  ></rise-button>
</div>
