<h1 mat-dialog-title>Add New Row</h1>
<div mat-dialog-content>
  <div *ngFor="let field of data.fields">
    <mat-form-field appearance="fill">
<!--      <mat-label>{{ field }}</mat-label>-->
      <label>{{field}}</label>
      <input matInput [(ngModel)]="m_aoRowData[field]">
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <rise-button
    [m_sLabel]="'CONFIRM_DIALOG.CONFIRM'"
    (click)="onSave()"
    [m_sRole]="'action'"
  ></rise-button>
  <rise-button
    [m_sLabel]="'CONFIRM_DIALOG.CANCEL'"
    [m_sRole]="'primary'"
    (click)="onCancel()"
  ></rise-button>
<!--  <button mat-button (click)="onCancel()">Annuler</button>-->
<!--  <button mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>-->
</div>
