<div class="input-group">
  <span
    *ngIf="m_bHasIcon"
    class="input-group-text material-symbols-outlined"
    id="basic-addon1"
    >{{ m_sIcon }}</span
  >
  <!-- <label  for="{{m_sName}}">{{m_sLocalizationKey | translate}}</label> -->
  <input
    class="form-control"
    type="{{ m_sType }}"
    name="{{ m_sName }}"
    [class.no-border]="m_bHasIcon"
    [(ngModel)]="m_sInputText"
    (change)="onInputChange()"
    [placeholder]="m_sLocalizationKey | translate"
  />
</div>
<div
  class="invalid-input d-flex flex-row p-1 gap-1 mt-2"
  *ngIf="m_bIsValidatorInput && !m_bIsValid"
>
  <span class="material-symbols-outlined"> info </span>
  {{ m_sErrorText | translate }}
</div>
