input,
span.input-group-text,
input:focus {
  background-color: var(--surface-glass-interactive);
  border: 1px solid var(--rise-text-dim);
  color: var(--rise-text-bright);
}

.form-label {
  color: var(--rise-text-dim);
  line-height: 12px;
}

span.icon-right {
  cursor: pointer;
  border-left: none;
}

input:focus,
input.form-control:focus {
  outline-width: 0 !important;
}

::placeholder {
  color: var(--rise-text-dim);
}

:-ms-input-placeholder {
  color: var(--rise-text-dim);
}

input.invalid {
  border: 1px solid var(--rise-danger-text);
}

.no-left-border {
  border-left: none;
}

.no-right-border {
  border-right: none;
}
span.icon-left {
  border-right-width: 0px;
}

.icon-right > span.input-group-text {
  border-left: none !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.icon-right {
  cursor: pointer;
  margin: 0px !important;
}

.form-control {
  margin: 0px !important;
}
