<div class="outlet">
  <div
    *ngIf="m_oOrganization"
    class="org-container d-flex flex-column justify-content-between px-4"
  >
    <div class="account-header d-flex flex-row align-items-center mt-2 p-2">
      {{ "ACCOUNT.ORGANIZATION" | translate }}:
      {{ m_oOrganization.name }}
    </div>
    <div class="body d-flex flex-fill flex-column gap-5 py-4 px-1">
      <!-- Organization Information -->
      <div class="org-info-container d-flex flex-row col-6">
        <div class="flex-fill d-flex flex-column gap-3">
          <div class="account-sub-header"> {{ "ORGANIZATION.INFO" | translate }}</div>
          <rise-text-input
            [m_bHasTitle]="true"
            [m_sLocalizationKey]="'ORGANIZATION.NAME'"
            [(m_sInputText)]="m_oOrganization.name"
          ></rise-text-input>
          <rise-dropdown
            *ngIf="m_aoOrgTypes"
            [m_bHasTitle]="true"
            [m_sLabel]="'ORGANIZATION.TYPE'"
            [m_sPlaceholder]="m_oOrganization.type ? m_oOrganization.type : ''"
            [m_aoSelectedItems]="m_oOrganization.type"
            [m_aoDropdownItems]="m_aoOrgTypes"
            (m_oSelectionChange)="setOrganizationType($event)"
          ></rise-dropdown>
          <rise-button
            class="align-self-start"
            [m_sRole]="'primary'"
            [m_sLabel]="'ORGANIZATION.SAVE'"
            (click)="saveChanges()"
          ></rise-button>
        </div>
      </div>
      <!-- Organization Address -->
      <div class="org-address-container d-flex flex-column gap-3 col-6">
        <div class="account-sub-header">
          {{ "ORGANIZATION.ADDRESS" | translate }}
        </div>
        <div class="org-address-info my-2">
          <rise-text-input
            [m_bHasTitle]="true"
            [(m_sInputText)]="m_oOrganization.street"
            [m_sLocalizationKey]="'ORGANIZATION.STREET_ADDRESS'"
          ></rise-text-input>
          <rise-dropdown
            [m_bHasTitle]="true"
            [m_sLabel]="'ORGANIZATION.COUNTRY'"
            [m_bHasSearch]="true"
            [m_aoSelectedItems]="m_oOrgCountry"
            [m_aoDropdownItems]="m_aoCountries"
            [m_bIsCountryDropdown]="true"
            (m_oSelectionChange)="setOrganizationCountry($event)"
          >
          </rise-dropdown>
<!--          <rise-text-input-->
<!--            [m_bHasTitle]="true"-->
<!--            [(m_sInputText)]="m_oOrganization.country"-->
<!--            [m_sLocalizationKey]="'ORGANIZATION.COUNTRY'"-->
<!--          ></rise-text-input>-->
          <div class="d-flex flex-row gap-1">
            <rise-text-input
              [m_bHasTitle]="true"
              [(m_sInputText)]="m_oOrganization.number"
              class="flex-fill"
              [m_sLocalizationKey]="'ORGANIZATION.STREET_NUMBER'"
            ></rise-text-input>
            <rise-text-input
              [m_bHasTitle]="true"
              [(m_sInputText)]="m_oOrganization.postalCode"
              class="flex-fill"
              [m_sLocalizationKey]="'ORGANIZATION.POSTAL_CODE'"
            ></rise-text-input>
          </div>
          <div class="d-flex flex-row gap-1">
            <rise-text-input
              [m_bHasTitle]="true"
              [(m_sInputText)]="m_oOrganization.city"
              class="flex-fill"
              [m_sLocalizationKey]="'ORGANIZATION.CITY'"
            ></rise-text-input>
            <div class="flex-fill">
              <rise-number-input
                class="w-100"
                [m_sLocalizationKey]="'REGISTER.MOBILE'"
                [m_bHasTitle]="true"
                [(m_sPhonePrefix)]="m_oOrganization.internationalPrefix"
                [(m_sPhoneNumber)]="m_oOrganization.phone"
                [m_sType]="'phone'"
              ></rise-number-input>
            </div>
<!--            <rise-text-input-->
<!--              [m_bHasTitle]="true"-->
<!--              [(m_sInputText)]="m_oOrganization.phone"-->
<!--              class="flex-fill"-->
<!--              [m_sLocalizationKey]="'ORGANIZATION.PHONE_NUMBER'"-->
<!--            ></rise-text-input>-->
          </div>
        </div>
        <rise-button

          class="align-self-start"
          [m_sRole]="'primary'"
          [m_sLabel]="'ORGANIZATION.SAVE'"
          (click)="saveChanges()"
        ></rise-button>
      </div>

      <!-- Organization Members Management -->
      <div class="members-container d-flex flex-column gap-3">
        <div class="account-sub-header-container">
          <div class="account-sub-header">
            {{ "ORGANIZATION.MEMBERS" | translate }}
          </div>
        </div>
        <rise-collaborators
          [m_aoUsers]="m_aoOrgUsers"
          [m_sResourceType]="'organization'"
          (m_oInviteClick)="openInviteUser($event)"
          (m_oEditClick)="changeUserRole($event)"
          (m_oRemoveClick)="removeOrgUser($event)"
        ></rise-collaborators>
      </div>

      <!-- Delete Organization Area -->
      <div
        class="delete-area p-3 d-flex flex-row justify-content-between align-items-center"
      >
        <div>
          <div class="account-sub-header">
            {{ "ORGANIZATION.DELETE" | translate }}
          </div>
          <p class="my-0">
            {{ "ORGANIZATION.DELETE_MSG" | translate }}
          </p>
        </div>
        <rise-button
          [m_sLabel]="'ORGANIZATION.DELETE'"
          [m_sRole]="'danger'"
          (click)="deleteOrganization()"
        ></rise-button>
      </div>
    </div>
  </div>
</div>
