<div *ngIf="!m_bInviteUser && m_oOrganization" class="organization-container">
  Organization: {{ m_oOrganization.name }}
  <rise-text-input [m_sLocalizationKey]="'ORGANIZATION.NAME'"></rise-text-input>
  <!-- Dropdown -->
  <rise-text-input [m_sLocalizationKey]="'ORGANIZATION.NAME'"></rise-text-input>
  <rise-text-input [m_sLocalizationKey]="'ORGANIZATION.NAME'"></rise-text-input>

  <rise-button
    [m_sLabel]="'ORGANIZATION.INVITE'"
    (click)="openInviteUser(true)"
  ></rise-button>
</div>
<invite-user
  *ngIf="m_bInviteUser"
  (m_oBackEmitter)="openInviteUser(false)"
></invite-user>
