@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  /*Calendar colors*/
  --mat-datepicker-calendar-container-background-color: #0c303c;
  --mat-datepicker-calendar-container-text-color: #efba35;
  --mat-datepicker-calendar-date-selected-state-background-color: #efba35;
  --mat-datepicker-calendar-date-text-color: #efba35;
  --mat-datepicker-calendar-header-text-color:#efba35 ;
  --mat-datepicker-calendar-body-label-text-color:#efba35 ;
  --mat-datepicker-calendar-period-button-text-color: #efba35;
  --mat-datepicker-calendar-period-button-icon-color: #efba35;
  --mat-datepicker-calendar-header-divider-text-color: #efba35;
  --mat-datepicker-calendar-navigation-button-icon-color: #efba35;


  /* Primitive Colors */
  --rise-teal: #274d59;
  --rise-teal-600: #0c303c;
  --rise-teal-800: #001f28;
  --rise-black: #000;
  --rise-white: #ffffff;
  --rise-gold: #efba35;

  /* Semantic Colors */
  --rise-warning: #efba35;
  --rise-danger-text: #f5919f;
  --rise-text-dim: rgba(255, 255, 255, 0.6);
  --rise-text-bright: rgba(255, 255, 255, 0.9);
  --text-inverse: rgba(0, 0, 0, 0.95);
  --surface-glass-elevation: rgba(255, 255, 255, 0.04);
  --surface-glass-interactive: rgba(0, 0, 0, 0.5);
  --surface-glass: rgba(0, 31, 40, 0.1);

  /* style colors */
  --rise-border-default: rgba(255, 255, 255, 0.1);

  /* WASDI system colours */
  --darkAccessible: #006526;
  --wasdiGreen: #009036;
  --wasdiBlue: #212f45;
  --wasdiWarn: #fbac00;
  --wasdiDanger: #ff3d00;

  /* Shade Variants */
  --wasdiWarn10: #fef5e0;
  --wasdiDanger10: #ffe7e0;
  --wasdiGreen10: #e0f1e6;
  --wasdiBlue10: #e1eafb;

  /* Lighter Shade Variants */
  --wasdiWarnLight: #fff9eb;
  --wasdiDangerLight: #fff0eb;
  --wasdiGreenLight: #ebf7ef;
  --wasdiBluelight: #075be4;
}

html,
body {
  color: var(--rise-white);
  height: 100%;
}

body {
  background-color: var(--rise-teal-800);
  margin: 0;
  font-family: Satoshi Variable, sans-serif;
}

main {
  min-height: 100vh;
}

div.outlet {
  height: 100%;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.inner-html-link {
  color: var(--rise-text-bright);
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  border-radius: 8px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--rise-teal);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rise-teal-600);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rise-teal-600);
}

.leaflet-marker-icon {
  width: 41px !important;
}

.rise-checkbox {
  accent-color: var(--rise-gold);
  cursor: pointer;
  border: 1.5px solid var(--rise-text-dim);
  border-radius: 2px;
  height: 20px;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px !important;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid var(--rise-text-dim);
}

input[type="radio"]:checked {
  background-color: var(--rise-white);
  padding: 5px;
  border: 2px solid var(--rise-white);
}

.invalid-feedback {
  color: var(--rise-danger-text);
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  padding: 8px;
}

.user-menu {
  position: absolute;
  right: 0.75rem;
  z-index: 999;
  top: 1rem;
}

.close-btn {
  cursor: pointer;
}
.leaflet-control-geocoder-icon {
  border-radius: 8px;
}

.leaflet-control-button {
  border-radius: 8px !important;
}

.leaflet-draw-toolbar > a {
  border-radius: 8px !important;
}

.leaflet-touch .leaflet-bar {
  border: none !important;
  border-radius: 8px !important;
  cursor: pointer;
}
.leaflet-touch .leaflet-bar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36px !important;
  width: 36px !important;
}

a.leaflet-control-zoom-in {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

a.leaflet-control-zoom-out {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
/* Selector for Leaflet buttons - excluding Geocoder and attributions */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-color: rgba(0, 31, 40, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--rise-text-bright) !important;
  gap: 8px;
}
.leaflet-control-layers,
.leaflet-control-geocoder {
  background-color: transparent !important;
  color: var(--rise-text-bright);
}
.leaflet-touch .leaflet-control-layers {
  border: none !important;
}
.leaflet-touch .leaflet-control-layers-toggle {
  height: 36px;
  width: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.leaflet-draw-toolbar > a:not(:first-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.dashboard-map > .leaflet-control-container > .leaflet-top.leaflet-right {
  top: 3.5rem !important;
  right: 0.15rem !important;
}

.leaflet-top {
  z-index: 998 !important;
}

/* Selector for the Leaflet Geocoder */
button.leaflet-control-geocoder-icon {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.4) !important;
  background-image: url("/assets/rise-assets/geocoder-search.svg");
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #ffffff !important;
  height: 36px !important;
  width: 36px !important;
}

.leaflet-control-layers,
.leaflet-control-geocoder {
  background-color: transparent !important;
}

.leaflet-control-geocoder-expanded {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.4) !important;
  border-radius: 8px !important;
  color: #ffffff;
}

.leaflet-control-geocoder-form input {
  width: 200px !important;
  color: #ffffff;
}

.leaflet-control-geocoder-expanded > .leaflet-control-geocoder-icon {
  background-color: transparent !important;

}

.leaflet-control-geocoder-form {
  color: #ffffff !important;
  padding-left: 8px;
}

.leaflet-control-geocoder-address-context {
  color: #ffffff !important;
}



.leaflet-control-geocoder .leaflet-control-geocoder-alternatives > li > a {
  background-color: transparent !important;
  width: 260px !important; /* Ensure this takes precedence */
  line-height: 18px !important;
  display: block !important;
}
.leaflet-control-geocoder-alternatives>li:hover,
.leaflet-control-geocoder-alternatives>li>a:hover {
  background-color: rgba(13, 16, 21, 0.9) !important;
}

a.leaflet-control-button,
.leaflet-touch .leaflet-draw-toolbar,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-circle {
  background-position: center !important;
  background-size: 25px !important;
  border-radius: 8px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-image: url("/assets/rise-assets/square-icon.svg") !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-image: url("/assets/rise-assets/diagonal-line.svg") !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-image: url("/assets/rise-assets/pentagon.svg") !important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-image: url("/assets/rise-assets/circle.svg") !important;
}

.leaflet-control-layers-toggle {
  background-image: url("/assets/rise-assets/layers.svg") !important;
}

.leaflet-top .leaflet-control {
  margin-top: 8px !important;
}

.leaflet-control-layers-expanded {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.4) !important;
  border-radius: 10px;
}

.leaflet-control-layers-base {
  border-radius: 8px;
}

.leaflet-control-layers-base > label > span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 6px;
}
a.leaflet-control-zoom-fullscreen {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
  color: #ffffff !important;
  height: 36px !important;
  width: 36px !important;
}
.leaflet-control-attribution {
  display: none;
}
.account-header {
  background-color: var(--surface-glass-interactive);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  color: var(--rise-text-bright);
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
}

.account-sub-header {
  color: var(--rise-text-bright);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.account-sub-msg {
  color: var(--rise-text-dim);
}

.delete-area {
  border: 1px solid var(--wasdiDanger);
  background-color: rgba(255, 61, 0, 0.1);
  border-radius: 8px;
}
.invalid-sub {
  border: 1px solid var(--wasdiWarn);
  background-color: rgba(255, 61, 0, 0.1);
  border-radius: 8px;
}
.invalid-area {
  border: 1px solid var(--wasdiBlue);
  background-color: var(--rise-teal);
  border-radius: 8px;
}

.widget-container {
  background-color: var(--surface-glass-elevation);
  border: 1px solid var(--surface-glass-elevation);
  border-radius: 8px;
  color: var(--rise-text-dim);
  padding: 8px;
}

.widget-header {
  font-size: 16px;
}

.widget-header > .material-symbols-outlined {
  cursor: pointer;
  font-size: 20px;
}

.mdc-snackbar__label,
.mdc-snackbar__surface {
  padding: 0px !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 8px !important;
  color: var(--rise-black);
  font-family: Satoshi Variable, sans-serif !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: var(--neutral80) !important;
}

.generic.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: 1px solid var(--neutral20) !important;
  background-color: #ffffff !important;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: 1px solid var(--wasdiGreen) !important;
  background-color: var(--wasdiGreenLight) !important;
}

.alert.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: 1px solid var(--wasdiWarn) !important;
  background-color: var(--wasdiWarnLight) !important;
}

.danger.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: 1px solid var(--wasdiDanger) !important;
  background-color: var(--wasdiDangerLight) !important;
}

.info.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border: 1px solid var(--neutral50Brand) !important;
  background-color: var(--wasdiBluelight) !important;
}

/* Styles for Leaflet Popup Content */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 31, 40, 0.4) !important;
  border: none !important;
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
}

.leaflet-popup-content ul {
  padding-left: 1rem !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #ffffff !important;
}
/*material calendar*/

.mat-calendar-body-cell.highlight-date {
  background-color: #e60222 !important;
  border-radius: 50%;
  color: white;
}
