html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    min-height: 100vh;
}

div.widget-container {
    border: 1px solid #000000;
    border-radius: 8px;
    margin: 10px;
    padding: 1rem;
    width: 400px;
}