:root {
  /* Primitive Colors */
  --rise-teal: #274d59;
  --rise-teal-600: #0c303c;
  --rise-teal-800: #001f28;
  --rise-black: #000;
  --rise-white: #ffffff;
  --rise-gold: #efba35;

  /* Semantic Colors */
  --rise-warning: #efba35;
  --rise-danger-text: #f5919f;
  --rise-text-dim: rgba(255, 255, 255, 0.6);
  --rise-text-bright: rgba(255, 255, 255, 0.9);
  --text-inverse: rgba(0, 0, 0, 0.95);
  --surface-glass-elevation: rgba(255, 255, 255, 0.04);
  --surface-glass-interactive: rgba(0, 0, 0, 0.5);

  /* style colors */
  --rise-border-default: rgba(255, 255, 255, 0.1);

  /* WASDI system colours */
  --darkAccessible: #006526;
  --wasdiGreen: #009036;
  --wasdiBlue: #212f45;
  --wasdiWarn: #fbac00;
  --wasdiDanger: #ff3d00;

  /* Shade Variants */
  --wasdiWarn10: #fef5e0;
  --wasdiDanger10: #ffe7e0;
  --wasdiGreen10: #e0f1e6;
  --wasdiBlue10: #e1eafb;

  /* Lighter Shade Variants */
  --wasdiWarnLight: #fff9eb;
  --wasdiDangerLight: #fff0eb;
  --wasdiGreenLight: #ebf7ef;
  --wasdiBluelight: #f0f5fd;
}

html,
body {
  color: var(--rise-white);
  height: 100%;
}

body {
  background-color: var(--rise-teal-800);
  margin: 0;
  font-family: Satoshi Variable, sans-serif;
}

main {
  min-height: 100vh;
}

div.widget-container {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 1rem;
}

div.outlet {
  height: 100%;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("assets/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

/* width */
::-webkit-scrollbar {
  border-radius: 8px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--rise-teal);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rise-teal-600);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rise-teal-600);
}


.leaflet-marker-icon {
  width: 41px !important;
}