<label *ngIf="m_bHasTitle" class="form-label" for="{{ m_sName }}"
>{{ m_sLocalizationKey | translate }}
</label>
<div class="input-group">
  <textarea
    [placeholder]="m_sLocalizationKey | translate"
    name=""
    id=""
    class="form-control"
    [(ngModel)]="m_sInputText"
    (change)="onInputChange()"
  ></textarea>
  <div class="form-text" *ngIf="m_bIsValidatorInput && !m_bIsValid">
    Please ensure the values are the same.
    <span class="material-symbols-outlined"> info </span>
    <div [innerHTML]="m_sErrorText | translate"></div>
  </div>

</div>
