<label *ngIf="m_bHasTitle" class="form-label" for="">{{
    m_sLabel | translate
  }}</label>
<div class="input-group">
  <mat-select
    class="form-control"
    disableOptionCentering="'false'"
    name="dropdown"
    [multiple]="m_bIsMultiSelect"
    [placeholder]="getPlaceholder() | translate"
    (selectionChange)="emitSelectionChange($event)"
    [(value)]="m_aoSelectedItems"
  >
    <mat-option
      *ngIf="m_bIsMultiSelect && m_bEnableSelectAll"
      (click)="toggleSelectAll()"
      [disabled]="!m_aoDropdownItems.length"
    >
      <strong>{{ isAllSelected() ? 'Unselect All' : 'Select All' }}</strong>
    </mat-option>

    <div *ngIf="m_bHasSearch" class="mat-search-container">
      <input
        class="mat-select-search"
        name="m_sStyle"
        placeholder="Search..."
        type="text"
        [(ngModel)]="m_sSearchString"
      />
    </div>

    <mat-select-trigger>
      <ng-container *ngIf="m_bShowChips; else defaultDisplay">
        <div class="chip-container">
          <span *ngFor="let item of m_aoSelectedItems" class="chip">
            <img
              *ngIf="m_bIsCountryDropdown && item.code"
              [src]="'https://flagsapi.com/' + item.code + '/flat/24.png'"
              alt="flag"
              class="flag-icon"
            />
            {{ item.name ? item.name : item }}
            <button class="chip-close" (click)="removeItem(item, $event)">×</button>
          </span>
        </div>
      </ng-container>
      <ng-template #defaultDisplay>
        <ng-container *ngIf="!m_bIsMultiSelect && m_aoSelectedItems">
          <img
            *ngIf="m_bIsCountryDropdown && m_aoSelectedItems.code"
            [src]="'https://flagsapi.com/' + m_aoSelectedItems.code + '/flat/24.png'"
            alt="flag"
            class="flag-icon"
          />
          {{ getValues(m_aoSelectedItems) }}
        </ng-container>
        <ng-container *ngIf="m_bIsMultiSelect">
          {{ getValues(m_aoSelectedItems) }}
        </ng-container>
      </ng-template>
    </mat-select-trigger>

    <div *ngIf="m_bHasSearch">
      <mat-option
        *ngFor="let oItem; of: m_aoDropdownItems | filter : m_sSearchString"
        [value]="oItem"
      >
        <img
          *ngIf="m_bIsCountryDropdown && oItem.code"
          [src]="'https://flagsapi.com/' + oItem.code + '/flat/24.png'"
          alt="flag"
          class="flag-icon"
        />
        {{ oItem.name ? oItem.name : oItem }}
      </mat-option>
    </div>
    <div *ngIf="!m_bHasSearch">
      <mat-option
        *ngFor="let oItem of m_aoDropdownItems"
        [value]="oItem"
      >
        <img
          *ngIf="m_bIsCountryDropdown && oItem.code"
          [src]="'https://flagsapi.com/' + oItem.code + '/flat/24.png'"
          alt="flag"
          class="flag-icon"
        />
        {{ oItem.name ? oItem.name : oItem }}
      </mat-option>
    </div>
  </mat-select>
</div>
