.form-control {
  background-color: var(--surface-glass-interactive);
  border: 1px solid var(--rise-text-dim);
  color: var(--rise-text-bright);
}

.form-label {
  color: var(--rise-text-dim);
  line-height: 12px;
}

::ng-deep div.mat-mdc-select {
  color: var(--rise-text-bright) !important;
}

::ng-deep span.mat-mdc-select-placeholder {
  color: var(--rise-text-dim);
}

::ng-deep div.mat-mdc-select-arrow {
  color: var(--rise-text-dim) !important;
}

::ng-deep .cdk-overlay-pane {
  right: -12px !important;
}
::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  background-color: rgba(0, 31, 40, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 8px !important;
  color: var(--rise-text-bright);
}

::ng-deep .mdc-list-item__primary-text {
  color: var(--rise-text-dim);
}

::ng-deep div.mat-mdc-select-panel {
  transform: translate(-12px, 10px) !important;
}
