<label *ngIf="m_bHasTitle" class="form-label" for="">{{
  m_sLabel | translate
}}</label>
<div class="input-group">
  <mat-select
    class="form-control"
    disableOptionCentering="'false'"
    name="dropdown"
    [multiple]="m_bIsMultiSelect"
    [placeholder]="m_sLabel | translate"
    (selectionChange)="emitSelectionChange($event)"
    [(value)]="m_aoSelectedItems"
  >
    <div *ngIf="m_bHasSearch" class="mat-search-container">
      <input
        class="mat-select-search"
        name="m_sStyle"
        placeholder="Search..."
        type="text"
        [(ngModel)]="m_sSearchString"
      />
    </div>
    <mat-select-trigger>
      {{ getValues(m_aoSelectedItems) }}
    </mat-select-trigger>
    <div *ngIf="m_bHasSearch">
      <mat-option
        *ngFor="let oItem; in: m_aoDropdownItems | filter : m_sSearchString"
        [value]="oItem"
      >
      </mat-option>
    </div>
    <div *ngIf="!m_bHasSearch">
      <mat-option *ngFor="let oItem of m_aoDropdownItems" [value]="oItem"
        >{{ oItem }}
      </mat-option>
    </div>
  </mat-select>
</div>
