.form-control {
  background-color: var(--surface-glass-interactive);
  border: 1px solid var(--rise-text-dim);
  color: var(--rise-text-bright);
}

.form-label {
  color: var(--rise-text-dim);
  line-height: 12px;
}

::ng-deep div.mat-mdc-select {
  color: var(--rise-text-bright) !important;
}

::ng-deep span.mat-mdc-select-placeholder {
  color: var(--rise-text-dim);
}

::ng-deep div.mat-mdc-select-arrow {
  color: var(--rise-text-dim) !important;
}

::ng-deep .cdk-overlay-pane {
  right: -12px !important;
}
::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  background-color: rgba(0, 31, 40, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 8px !important;
  color: var(--rise-text-bright);
}

::ng-deep .mdc-list-item__primary-text {
  color: var(--rise-text-dim);
}

::ng-deep div.mat-mdc-select-panel {
  transform: translate(-12px, 10px) !important;
}
.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #0c303c;
  color: white;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.chip-close {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}
.flag-icon {
  width: 24px; /* Adjust size as needed */
  height: auto;
  margin-right: 8px; /* Space between flag and text */
  vertical-align: middle;
}
