<div class="dialog-container p-2">
  <div
    class="dialog-header d-flex flex-row justify-content-between align-items-center"
  >
    <h3>{{ "AREA_OF_OPERATIONS.DIALOG_HEADER" | translate }}</h3>
    <span class="close-btn material-symbols-outlined" (click)="onDismiss()">
      close
    </span>
  </div>
  <div *ngIf="!this.m_bIsAdvancedSettingsOn" class="body flex-fill d-flex flex-column gap-2">
    <rise-text-input
      [m_bHasTitle]="true"
      [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.NAME'"
      [m_bReadonly]="false"
      [(m_sInputText)]="m_oArea.name"
    ></rise-text-input>
    <rise-text-input
      [m_bHasTitle]="true"
      [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.ID'"
      [m_bReadonly]="true"
      [(m_sInputText)]="m_sAreaId"
    ></rise-text-input>
    <rise-textarea-input
      [m_bHasTitle]="true"
      [m_sLocalizationKey]="'CREATE_NEW_AREA_OF_OPERATION.DESCRIPTION'"
      [m_bReadonly]="false"
      [(m_sInputText)]="m_oArea.description"
    ></rise-textarea-input>
    <rise-checkbox
      [m_aoOptions]="m_asIsPublic"
      [m_aoSelectedValues]="m_asSelectedIsPublic"
      [m_bReadonly]="true"
    >
    </rise-checkbox>
    <rise-date-input
      [m_bHasTitle]="true"
      [m_sLocalizationKey]="'AREA_OF_OPERATIONS.CREATION_DATE'"
      [m_bReadonly]="true"
      [m_sInputDate]="m_oArea.creationDate | date : 'YYYY-MM-dd'"
    ></rise-date-input>
    <rise-checkbox
      [m_aoOptions]="m_aoPlugins"
      [m_aoSelectedValues]="m_oArea.plugins"
      [m_bReadonly]="true"
    >
    </rise-checkbox>
    <div class="d-flex justify-content-between mt-2">
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.ADVANCED_SETTINGS'"
        (click)="openAdvancedSettingsDialog()"
      ></rise-button>
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'"
        (click)="saveAreaOfOperation()"
        [m_sRole]="'action'"
      ></rise-button>
    </div>
  </div>
  <div *ngIf="this.m_bIsAdvancedSettingsOn" class="body flex-fill d-flex flex-column gap-2">
    <rise-dropdown
      [m_bHasTitle]="true"
      [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.PLUGINS'"
      [m_sPlaceholder]="''"
      [m_aoSelectedItems]="m_oSelectedPlugin"
      [m_aoDropdownItems]="m_aoSelectedPlugins"
      (m_oSelectionChange)="setSelectedPlugin($event)"
    ></rise-dropdown>

    <rise-dropdown
      [m_bHasTitle]="true"
      [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.MAP_LAYER'"
      [m_sPlaceholder]="''"
      [m_aoSelectedItems]="m_oSelectedMap"
      [m_aoDropdownItems]="m_aoPluginMaps"
      (m_oSelectionChange)="setSelectedMap($event)"
    ></rise-dropdown>
    <div class="JSON-container">
      <div #editor class="json-editor"  (keyup)="getJsonInput()"
           (change)="getJsonInput()"></div>
      <rise-button class="json-button" [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.DIALOG_PROCESSOR_UI_APP_FORMAT_JSON' | translate"
                   [m_sSize]="'small'" (click)="checkJSON()"></rise-button>
      <rise-button class="default-button" [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.DEFAULT_PARAMS' | translate"
                   [m_sSize]="'small'" (click)="deleteParamAndReturnTheDefaultOne()"></rise-button>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.RETURN'"
        (click)="returnToEditPage()"
      ></rise-button>
      <rise-button
        [m_sLabel]="'CREATE_NEW_AREA_OF_OPERATION.SAVE'"
        (click)="saveAdvancedSetting()"
        [m_sRole]="'action'"
      ></rise-button>
    </div>
  </div>

</div>
