<main class="d-flex flex-column justify-content-between">
  <rise-toolbar></rise-toolbar>
  <div
    class="flex-fill d-flex flex-row justify-content-center align-items-ceonter"
  >
    <div class="rise-container flex-fill d-flex flex-row align-items-center">
      <div id="hero-img"></div>
      <div
        class="rise-info-container d-flex flex-column gap-2 justify-content-start"
      >
        <h2 class="space-mono-regular">
          Natural Disaster management starts with you
        </h2>
        <p>Be aware. Stay prepared. For anything. From anywhere.</p>
        <rise-button
          class="align-self-start"
          [m_sIconRight]="'arrow_forward'"
          [m_sRole]="'action'"
          [m_sLabel]="'Get started for free'"
          (click)="navigateRoute('sign-up')"
        ></rise-button>
      </div>
    </div>
  </div>
</main>
